
@font-face {
    font-family: fontCarpla;
    src: url(/font/1286b733a974c61c-s.p.otf) format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: fontCarpla;
    src: url(/font/5ff9c6da74a14371-s.p.otf) format("opentype");
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: fontCarpla;
    src: url(/font/fdd80b05f62435d0-s.p.otf) format("opentype");
    font-display: swap;
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: fontCarpla;
    src: url(/font/2ef6d872b725ed03-s.p.otf) format("opentype");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
button { cursor: pointer; }
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
body {
    font-family: fontCarpla, 'fontCarpla Fallback';
}
.bg-primary { 
    background-color: #008ff8; 
    background-color: #bbb; /*dnb_dev */
}
.wrap-local, .wrap-year {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .25rem .6rem;
    color: rgb(55, 65, 81);
    border-radius: .375rem;
    background-color: rgb(255, 221, 0);
    background-color: rgb(243, 244, 246);
    cursor: pointer;
}
.wrap-brand {
    gap: .5rem;
    opacity: .8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
}
.wrap-logo {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
    padding: .5rem;
    border-radius: 9999px;
}
.img-logo {
    color:transparent;
    object-fit: contain;
    border-radius: 9999px;
    width: 1.5rem;
    height: 1.5rem;
    max-width: 100%;
    display: block;
    vertical-align: middle; 
}
.brand-name {
    color: rgb(27, 44, 93);
    font-weight: 600;
    font-size: .875rem;
    text-align: center;
    line-height: 1.25rem;
}
.btn-more {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
    padding: .5rem;
    border-radius: 9999px;
    background-color: rgb(255, 255, 255);
    color: rgb(23, 23, 23);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
}
.txt-plus {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(27, 44, 93);
}
.txt-more {
    color: rgb(27, 44, 93);
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: center;
}
@media screen and (max-width: 558px) {
    
}

@media screen and (max-width: 430px) {
    
}
