body, .dr_lst-wrap, .mformedit, #dnb-viewcode {scrollbar-width: thin;}
.txt-command {
    border: 1px solid #c2e7ff;border-radius: 12px;
    min-height: 60px;padding: 6px; white-space: break-spaces;
}
.txt-command:focus-visible {
    border-color: #c92a57;outline-color: #c92a57;
}