/* Ẩn thanh cuộn trên Firefox và Edge */
html, .txt-command, #vw-command-log, .vw-command-log {
    scrollbar-width: thin; /* Chọn 'auto', 'thin' hoặc 'none' */
    scrollbar-color: #888 #f1f1f1; /* Màu cuộn + màu nền */
}

/* Tùy chỉnh thanh cuộn trên Chrome và Safari */
::-webkit-scrollbar {
    width: 10px; /* Độ rộng thanh cuộn */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền thanh cuộn */
    border-radius: 10px; /* Bo tròn */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Màu của thanh cuộn */
    border-radius: 10px; /* Bo tròn */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu khi di chuột */
}
body, .dr_lst-wrap, .mformedit, #dnb-viewcode {scrollbar-width: thin;}
.form-edit [contenteditable="plaintext-only"], 
.form-edit [contenteditable="true"] {
    border: 1px solid #c2e7ff; white-space: break-spaces; 
    border-radius: 6px; padding: 3px 6px; min-height: 30px; margin: 6px 0;
}
.form-edit [contenteditable="plaintext-only"]:focus-visible, 
.form-edit [contenteditable="true"]:focus-visible { border-color: #1882c6; outline-color: #1882c6; }

.txt-command {
    border: 1px solid #c2e7ff; padding: 6px 6px 6px 12px;
    min-height: 26px; white-space: break-spaces;
    max-height: 142px; overflow-y: auto;
}
.txt-command:focus-visible {
    border-color: #c92a57;outline-color: #c92a57;
}
.rwusrname { cursor: pointer; }
.rwusrname:hover { background-color: #f1f1f1; }
.btndraggable {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    touch-action: none;
}