<template id="tmp-comp-vw-goal">
    <div class="p-2 w344px bg-006bb9 mt-2 border-r4px"
        :goalid="item.Id">
        <div>{{item.Name}} ({{item.Id}})</div>
    </div>
</template>
<template id="tmp-comp-action-plan">
    <section>
        <drop-select :name="$root.UserAssign" :items="$root.Users" @set:index="$event => setUserAssign($event)">
            <template #default>
                <div class="default text">{{$root.UserAssign}}</div>
            </template>
        </drop-select>
    </section>
    <h1>4ct10n Pl_n</h1>
    <section class="dnbViewAcPlan px20px">
        <div v-for="market in ListMarket" class="bg-008ff8 border-r6px mb-3">
            <div class="p-2 border-r6px bg-008ff8">{{market.Entry.Name}}</div>
            <div v-for="subMk in market.SubMarkets" class="p-2">
                <div class="p-2 bg-008ff8">{{subMk.Entry.Name}}</div>
                <div v-for="product in subMk.Products" class="p-2 bg-008ff8">
                    <div class="p-2 bg-e8e9e9 border-u4px">{{product.Entry.Name}} ({{product.SubmarketProductId}})</div>
                    <draggable v-model="product.Goals" v-bind="DndOptions" 
                        class="dndGoals p-2 bg-e8e9e9 border-d4px"
                        :smprid="product.SubmarketProductId"
                        @start="onStartDndGoal"
                        @end="onEndDndGoal">
                        <transition-group>
                            <comp-vw-goal v-for="goal in product.Goals" 
                                :item="goal"
                                :key="goal.Id"></comp-vw-goal>
                        </transition-group>
                    </draggable>
                </div>
            </div>
        </div>
        <div v-for="prdG in ProductGroups" class="bg-008ff8 border-r6px mb-3">
            <div class="p-2 border-r6px bg-008ff8">{{prdG.Entry.Name}} (xy)</div>
            <div v-for="product in prdG.ListProduct" class="p-2">
                <div class="p-2 bg-008ff8">{{product.Entry.Name}}</div>
                <div v-for="subMk in product.SubMarkets" class="p-2 bg-008ff8">
                    <div class="p-2 bg-e8e9e9 border-u4px">{{subMk.Entry.Name}} ({{subMk.SubmarketProductId}})</div>
                    <draggable v-model="subMk.Goals" v-bind="DndOptions" 
                        class="dndGoals p-2 bg-e8e9e9 border-d4px"
                        :smprid="subMk.SubmarketProductId"
                        @end="onEndDndGoal">
                        <transition-group>
                            <comp-vw-goal v-for="goal in subMk.Goals" 
                                :item="goal"
                                :key="goal.Id"></comp-vw-goal>
                        </transition-group>
                    </draggable>
                </div>
            </div>
        </div>
    </section>
</template>