<template id="tmp-comp-vw-goal">
    <div class="p-2 w344px bg-008ff8 mt-2">
        <div>{{item.Name}}</div>
    </div>
</template>
<template id="tmp-comp-action-plan">
    <section>
        <drop-select :name="$root.UserAssign" :items="$root.Users" @set:index="$event => setUserAssign($event)">
            <template #default>
                <div class="default text">{{$root.UserAssign}}</div>
            </template>
        </drop-select>
    </section>
    <h1>4ct10n Pl_n</h1>
    <section class="px20px">
        <div v-for="market in ListMarket" class="border-e8e9e9">
            <div class="p-2 bg-006bb9">{{market.Entry.Name}}</div>
            <div v-for="subMk in market.SubMarkets" class="p-2">
                <div class="p-2 bg-008ff8">{{subMk.Entry.Name}}</div>
                <div v-for="product in subMk.Products" class="p-2">
                    <div class="p-2 bg-ededed">{{product.Entry.Name}}</div>
                    <draggable v-model="product.Goals" v-bind="DndOptions" class="p-2">
                        <transition-group>
                            <comp-vw-goal v-for="goal in product.Goals" 
                                :item="goal"
                                :key="goal.Id"></comp-vw-goal>
                        </transition-group>
                    </draggable>
                </div>
            </div>
        </div>
        <div v-for="prdG in ProductGroups" class="border-e8e9e9">
            <div class="p-2 bg-prdgrp">{{prdG.Entry.Name}} (xy)</div>
            <div v-for="product in prdG.ListProduct" class="p-2">
                <div class="p-2 bg-008ff8">{{product.Entry.Name}}</div>
                <div v-for="subMk in product.SubMarkets" class="p-2">
                    <div class="p-2 bg-ededed">{{subMk.Entry.Name}}</div>
                    <draggable v-model="subMk.Goals" v-bind="DndOptions" class="p-2">
                        <transition-group>
                            <comp-vw-goal v-for="goal in subMk.Goals" 
                                :item="goal"
                                :key="goal.Id"></comp-vw-goal>
                        </transition-group>
                    </draggable>
                </div>
            </div>
        </div>
    </section>
</template>