<template id="tmp-comp-cell-valuation">
  <div class="cell-valuation pos-relative" 
    @dblclick="e => dblclOpenFormValue(market, region)"
    :style="[getBgColor(market.Id, region.Id)]">
    <span class="text-center">{{getValuation(market.Id, region.Id)}}</span>
    <i class="bi bi-gear btn-menu-valuation" 
      @click.stop="e => toggleMenuValuation(imarket, iregion)"></i>
    <div v-if="IsShowMenu"
      class="menu-valuation d-inline-flex">
      <div class="p6px cpointer" @click.stop="e => openFormValuation(market, region)"><i class="bi bi-sliders2"></i>
        {{$store.getters.txtLang.Valuation}}</div>
      <div @click.stop="e => activeValuation(market.Id, region.Id)" class="p6px cpointer"><i class="bi"
          :class="classSquare(market.Id, region.Id)"></i> {{$store.getters.txtLang.Active}}</div>
      <div class="p6px cpointer"><i class="bi bi-box-arrow-in-right"></i>
        {{$store.getters.txtLang.Sub_market}}/{{$store.getters.txtLang.Productstrategy}}</div>
    </div>
    <i class="bi" :class="clssCheckMark(market.Id, region.Id)" style="font-size: 24px;"></i>
  </div>
</template>
<template id="tmp-comp-market">
  <section @click="onClickTab" 
    style="padding-bottom: 169px;padding-left: 20px;"
    class="vw-marketsegment">
    <div class="mt-2">

      <comp-filter-market :market-ids="$root.MarketIds" @set:filter="$event => setFilter($event)">
      </comp-filter-market>
    </div>
    <article v-if="1 == $root.ProcessState">
      <button>Eval markets</button>
      <button>Eval submarkets</button>
      <button>Strategy</button>
      <button>Plan from submarkets</button>
      <button>All criterials</button>
      <div>
        <h2 style="margin-top: 18px;">Market segments</h2>
        <div>
          <draggable v-model="Lands" v-bind="dragOptions" 
            class="d-inline-block">
            <transition-group>
              <div v-for="land in Lands" 
                :key="land.Id"
                class="d-inline-block ui button"
                style="margin-right: 6px; padding: 0;"
                :class="[$root.ActiveLandIds.includes(land.Id) ? 'positive' : '']" 
                @dblclick="e => openFormLand(land)">
              <div class="d-inline-block" style="padding: .78571429em 1.5em;" 
                @click.stop="e => activeLand(land)">{{land.Name}}</div>
            </div>
            </transition-group>
          </draggable>
          <div class="d-inline-block ui primary button" @click.stop="e => openFormLand()">+ Land</div>
        </div>
        <div v-if="$root.DragDrop == null" class="d-flex mt-3">
          <div class="col-market p6px bg-006bb9 cdefault">{{$store.getters.txtLang.Marketsegments}}\Region</div>
          <div v-for="region in Regions"
            class="col-region p6px pe48px cpointer prevent-select bg-008ff8 border-box border-r1-0384e3 fb700 pos-relative"
            @dblclick="e => openFormRegion(region)">{{region.Name}}
              <i v-if="1 < Regions.length" class="bi bi-arrows dnd-ic-region pos-absolute"
              @click.stop="e => initDragDrop(2)"></i>
              <i class="bi bi-gear dnd-ic-region pos-absolute" 
                style="right: 6px;"></i>
            </div>
          <div class="col-region single line p6px cpointer prevent-select bg-008ff8 fb700" 
            @click.stop="e => openFormRegion()">+ Region</div>
        </div>
        <div v-if="$root.DragDrop == null"
            v-for="(market, imk) in Markets" class="row-market d-flex">
          <div class="p6px bg-008ff8 col-market pos-relative fb700 cdefault" 
            @dblclick="e => openFormMarket(market)">{{market.Name}}
            <i v-if="1 < Markets.length"
              class="bi bi-arrows-vertical dnd-ic-market pos-absolute"
              @click.stop="e => initDragDrop(3)"></i>
            <i class="bi bi-gear dnd-ic-market pos-absolute" 
            style="right: 6px;"></i>
          </div>
          <div v-for="(region, ii) in Regions" 
            class="p6px col-region border-box border-r1-e8e9e9 border-b1-e8e9e9 h42" >
              <cell-valuation :market="market" :imarket="imk" :region="region"
              :iregion="ii"></comp-cell-valuation>
          </div>
          <div class="p6px col-region border-box border-r1-e8e9e9">{{getValuation(0, 0)}}</div>
        </div>
        <div v-if="$root.DragDrop == null" class="d-flex">
          <div class="p6px bg-008ff8 col-market fb700"
            @click.stop="e => openFormMarket()">+ Market<i class="circle help link icon" 
            data-html="Maximum device width with two <code
                >1.5em</code> gutters and a <code>17px</code> scrollbar width. <div 
                class='ui divider'></div> <code>992 - (14 * (1.5 * 2)) - 17</code>">
            </i>
          </div>
          <div v-for="ii in Regions.length + 1"
            class="p6px col-region border-box border-r1-e8e9e9 border-b1-e8e9e9 h42"></div>
        </div>

        <!-- Drag and drop Y -->
        <div v-if="$root.DragDrop != null && $root.DragDrop.type == 3" 
          class="dnd-market mt-3">
          <div class="d-flex">
            <div class="col-market p6px bg-006bb9">{{$store.getters.txtLang.Marketsegments}}\Region</div>
            <div class="col-region p6px cpointer prevent-select bg-008ff8 border-box border-r1-0384e3 fb700"
              v-for="region in Regions">{{region.Name}}</div>
            <div class="col-region single line p6px cpointer prevent-select bg-008ff8 fb700">+ Region</div>
          </div>
          <draggable v-model="Markets" v-bind="$root.DragDrop.options">
            <transition-group>
              <div v-for="(market, imk) in Markets" 
                :key="market.Id"
                class="d-flex">
                <div class="p6px bg-008ff8 col-market fb700 cdefault">{{market.Name}}</div>
                <div v-for="(region, ii) in Regions" 
                  class="p6px col-region border-box border-r1-e8e9e9 border-b1-e8e9e9 h42" >
                    <div class="cell-valuation pos-relative" 
                      :mkid="market.Id" :rnid="region.Id"
                      :x="ii" :y="imk"
                      :style="[getBgColor(market.Id, region.Id)]">
                      <span class="text-center">{{getValuation(market.Id, region.Id)}}</span>
                      <i class="bi bi-gear" ></i>
                      <i class="bi" :class="clssCheckMark(market.Id, region.Id)" style="font-size: 24px;"></i>
                    </div>
                </div>
                <div class="p6px col-region border-box border-r1-e8e9e9">{{getValuation(0, 0)}}</div>
              </div>
            </transition-group>
          </draggable>
          <div class="d-flex">
            <div class="p6px col-market bg-008ff8" >
                <div class="d-inline-block py-2 ps-3 pe-3 cpointer bg-006bb9"
                  style="border-radius: 6px"
                  @click.stop="finishDragDrop">Finish Drag drop Market</div>
              </div>
            <div v-for="ii in Regions.length + 1"
              class="p6px col-region border-box border-r1-e8e9e9 border-b1-e8e9e9 h42"></div>
          </div>
        </div>
        <!-- Drag and drop X -->
        <div v-if="$root.DragDrop != null && $root.DragDrop.type == 2" 
          class="dnd-region d-flex mt-3">
          <div class="rgn-first-col">
            <div class="col-market p6px bg-006bb9 h32">{{$store.getters.txtLang.Marketsegments}}\Region</div>
            <div v-for="(market, imk) in Markets" 
              class="p6px bg-008ff8 col-market fb700 cdefault h42">{{market.Name}}</div>
            <div class="p6px col-market bg-008ff8 h42" >+ Market<i class="circle help link icon" 
              data-html="Maximum device width with two <code
                  >1.5em</code> gutters and a <code>17px</code> scrollbar width. <div 
                  class='ui divider'></div> <code>992 - (14 * (1.5 * 2)) - 17</code>">
              </i></div>
          </div>
          <draggable v-model="Regions" v-bind="$root.DragDrop.options" 
            class="rgn-dnd-cols d-flex">
            <transition-group>
              <div v-for="(region, ii) in Regions" 
                :key="region.Id"
                style="background-color: white;">
                <div class="col-region p6px bg-008ff8 fb700 h32">{{region.Name}}</div>
                <div v-for="(market, imk) in Markets" 
                    class="p6px col-region fb700 cdefault border-box border-r1-e8e9e9 border-b1-e8e9e9 h42">
                    <div class="cell-valuation pos-relative" 
                      :mkid="market.Id" :rnid="region.Id"
                      :x="ii" :y="imk"
                      :style="[getBgColor(market.Id, region.Id)]">
                      <span class="text-center">{{getValuation(market.Id, region.Id)}}</span>
                      <i class="bi bi-gear" ></i>
                      <i class="bi" :class="clssCheckMark(market.Id, region.Id)" style="font-size: 24px;"></i>
                    </div>
                </div>
                <div class="p6px col-region cdefault border-box border-r1-e8e9e9 border-b1-e8e9e9 h42"></div>
              </div>
            </transition-group>
          </draggable>
          <div class="rgn-last-col">
            <div class="col-region bg-008ff8 h32 d-inline-flex align-items-center justify-content-cent">
              <div class="d-inline-block py-1 ps-3 pe-3 cpointer bg-006bb9"
              style="border-radius: 6px"
              @click.stop="finishDragDrop">Finish Drag drop Region</div>
            </div>
            <div v-for="ii in Markets.length + 1" 
            class="p6px col-region fb700 cdefault border-box border-r1-e8e9e9 border-b1-e8e9e9 h42"></div>
          </div>
        </div>
      </div>
      
    </article>
  </section>
</template>