<template id="tmp-comp-criterial-smarket">
    <div class="d-inline-flex align-items-center mb-2">
        <drop-select :f-id="filterType" 
            :items="SrcTypes" 
            :class="['grp-dropdown-min', 0 == index ? 'disabled' : '']"
            @set:index="$event => selectTypeId($event)" 
                style="margin-right: 6px;">
            <template #default>
                <div class="text">{{TypeSelectName}}</div>
            </template>
        </drop-select>
        <drop-select v-for="(id, iii) in ids" 
            :f-id="id" 
            :items="getSrcId(iii)" 
            :class="['grp-dropdown-min']"
            @set:index="$event => selectId(iii, $event)" 
            :key="iii + 2" 
                style="margin-right: 6px;">
            <template #default>
                <div class="text">{{idSelectName(id, iii)}}</div>
            </template>
        </drop-select>
        <button v-if="0 < index"
            style="width: 28px; height: 28px;"
            @click.stop="e => $emit('remove:item')"> - </button>
    </div>
</template>
<template id="tmp-comp-filter-smarket">
    <h3>{{$store.state.ContextLang.Filter}} m4rk3t</h3>
    <div class="d-flex" style="flex-direction: column;">
        <comp-criterial-smarket 
            v-for="(crts, iic) in Criterials" 
            :key="iic"
            :index="iic"
            :filter-type="crts[0]"
            :ids="crts[1]"
            @remove:item="removeCriterial(iic)"
            @set:typef="$event => setTypeF(iic, $event)"
            @set:ids="$event => setIds(iic, $event)"></comp-criterial-smarket>
    </div>
    <button @click.stop="setFilter">{{$store.state.ContextLang.Filter}}</button>
    <button @click.stop="resetFilter"
        style="margin: 6px">{{$store.state.ContextLang.Reset}}</button>
    <button @click.stop="addFilter"
        >{{$store.state.ContextLang.AddFilter}}</button>
</template>
<template id="tmp-comp-submarket">
    <section class="mt-2" style="padding-bottom: 169px;padding-left: 20px;">
        <comp-filter-smarket @set:filter="$event => setFilter($event)"></comp-filter-smarket>
        <h1>{{$store.state.ContextLang.ProductGroups}}</h1>
        <draggable v-model="ProductGroups" v-bind="dragOptions" 
            class="d-inline-block"> 
            <transition-group>
                <div v-for="prg in ProductGroups" 
                  :key="prg.Id"
                  class="d-inline-block ui button"
                  style="margin-right: 6px; padding: 0;"
                  :class="[$root.ActviePrGrpIds.includes(prg.Id) ? 'positive' : '']" 
                  @dblclick="e => openFormSmp(5, prg)">
                <div class="d-inline-block" style="padding: .78571429em 1.5em;" 
                  :data-content="18 < prg.Name.length ? prg.Name : null"
                  @mouseenter="onMouseEnter"
                  @click.stop="e => $root.activeItem(5, prg)">{{$root.viewName(prg.Name, 5)}}</div>
              </div>
            </transition-group>
        </draggable>
        <div class="d-inline-block ui primary button" 
            @click.stop="e => openFormSmp(5)">+ {{$store.state.ContextLang.ProductGroups}}</div>
    </section>
</template>