<template id="tmp-comp-criterial-smarket">
    <div class="d-inline-flex algi-s-cent mb-2">
        <drop-selection :class="['grp-dropdown-min', 0 == index ? 'disabled' : '']" 
            name="f-crite-type"
            :items="SrcTypes" :id="typeId" @set:id="$event => selectTypeId($event)"
            style="margin-right: 6px;"></drop-selection>
        <drop-selection v-for="(lstSrc, ii) in SrcIds" :class="['grp-dropdown-min']" 
            :name="'f-crite-id_ ' +  ii"
            :items="lstSrc" :id="listId[ii]" :key="ii + 2" 
            @set:id="$event => selectId($event, ii)"
            style="margin-right: 6px;"></drop-selection>
        <button v-if="0 < index" style="width: 28px; height: 28px;" 
            @click.stop="e => $emit('remove:item', index)"> -
        </button>
    </div>
</template>
<template id="tmp-comp-filter-smarket">
    <h3>{{$store.state.ContextLang.Filter}} m4rk3t</h3>
    <div class="d-flex" style="flex-direction: column;">
        <comp-criterial-smarket v-for="(crts, iic) in Criterials" 
            @remove:item="$event => removeCriterial($event)"
            @set:typeids="$event => setTypeIds(iic, $event)" :index="iic" :type-ids="crts"
            :key="iic"></comp-criterial-smarket>
    </div>
    <button @click.stop="setFilter">{{$store.state.ContextLang.Filter}}</button>
    <button @click.stop="resetFilter" style="margin: 6px">{{$store.state.ContextLang.Reset}}</button>
    <button @click.stop="addFilter">{{$store.state.ContextLang.AddFilter}}</button>
</template>
<template id="tmp-comp-submarket">
    <section class="mt-2 px20px" style="padding-bottom: 169px;">
        <comp-filter-smarket v-if="$root.IsShowF"
            @set:filter="$event => setFilter($event)"></comp-filter-smarket>
        <article v-if="1 == $root.ProcessState">
            <button>Action plan</button><button>Eval submarkets</button>
            <button>Porfolio analysis</button><button>Submarket strategy</button>
            <button>Volume plan</button>
            <h1>{{$store.state.ContextLang.ProductGroups}}</h1>
            <draggable v-model="ProductGroups" v-bind="dragOptions" class="d-inline-block">
                <transition-group>
                    <div v-for="prg in ProductGroups" :key="prg.Id" class="d-inline-block ui button"
                        style="margin-right: 6px; padding: 0;"
                        :class="[$root.ActviePrGrpIds.includes(prg.Id) ? 'positive' : '']"
                        @dblclick="e => openFormSmp(5, prg)">
                        <div class="d-inline-block" style="padding: .78571429em 1.5em;"
                            :data-content="18 < prg.Name.length ? prg.Name : null" 
                            @click.stop="e => $root.activeItem(5, prg)"
                            @mouseover="e => onMseOver(5, e, prg)">{{$root.viewName(prg.Name, 5)}}</div>
                    </div>
                </transition-group>
            </draggable>
            <div class="d-inline-block ui primary button" @click.stop="e => openFormSmp(5)">+
                {{$store.state.ContextLang.ProductGroups}}</div>
        </article>
        <article v-if="1 == $root.ProcessState" class="d-flex dflex-row mt-3">
            <div class="dnbcol-market d-inline-flex dflex-col dnbborder217">
                <div v-for="eMrk in ListMarket" 
                    class="dnbcel-market dnbborder217 d-inline-grid algi-s-cent border-box">
                    <div class="p-1">{{eMrk.Entry.Name}}</div>
                    <div class="dnb-cel-submrk d-inline-flex dflex-col">
                        <div class="dnb-cel-smk-name d-inline-block aln-ctn-center p-1"
                            v-for="eSubMrk in eMrk.ListSubMarket">{{eSubMrk.Name}}</div>
                    </div>
                </div>
            </div>
            <div v-for="(prd, iip) in Products" 
                class="dnbrow-prd d-inline-flex dflex-col dnbborder217">
                <div class="dnbcel-prdname dnbborder217 p-1 aln-ctn-center">{{prd.Name}}</div>
                <div v-for="(eMrk, iim) in ListMarket" 
                    class="dnbcol-prdmarket dnbborder217 d-inline-flex dflex-col" 
                    :mid="eMrk.Entry.Id">
                    <div v-for="(eSubMrk, iis) in eMrk.ListSubMarket"
                        class="dnb-cell-prd-submrk d-inline-block p-1 aln-ctn-center"
                        :smid="eSubMrk.Id" :pid="prd.Id"
                        @mouseenter="e => onMseEnterSmpPrd(e, prd, eMrk.Entry, eSubMrk)">
                        <comp-cell-smprd v-if="isActive(eSubMrk.Id, prd.Id)"
                            :market="eMrk.Entry"
                            :key="eMrk.Entry.Id + '-' + eSubMrk.Id + '-' + prd.Id"
                            :submarket="eSubMrk"
                            :product="prd"></comp-cell-smprd>
                        <div v-else class="cell-submk-prd-empty border-4px"
                            @mouseout="e => onMseOut()" ></div>
                    </div>
                </div>
            </div>
        </article>
        <div v-if="$root.Popup_UI != null" 
            class="dnb-menu bg-006bb9 border-4px p-1"
            :style="[$root.Popup_UI.Style]"
            style="width: 150px;">
            <p class="p6px menu_golsub-i mb1px border-4px cpointer">1. Edit </p>
            <p class="p6px menu_golsub-i border-4px cpointer"
                @click.stop="e => $root.onGotoTab(2)">2. G0t0 @ct1on Pl4n</p>
        </div>
    </section>
</template>
<template id="tmp-comp-cell-smprd">
    <div class="cell-submk-prd border-4px"
        style="width: 100%;height: 100%;">
        <div class="cell-smprd-content d-inline-grid">
            <div style="height: 24px;align-content: center;cursor: default;"
                @dblclick="e => onClkOpenGroupGa()"
                >{{CountGa}}</div>
            <i class="bi bi-gear btn-menu-valuation"
             @click.stop="clkShowMenu"></i>
        </div>
    </div>
</template>