bin/
.vs/
obj/
goal-action-api/node_modules/
goal-action-api/package-lock.json

marketing-react/node_modules/
marketing-react/package-lock.json
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
marketing-react/.pnp
marketing-react/.pnp.js

# testing
marketing-react/coverage

# production
marketing-react/build

# misc
marketing-react/.DS_Store
marketing-react/.env.local
marketing-react/.env.development.local
marketing-react/.env.test.local
marketing-react/.env.production.local

marketing-react/npm-debug.log*
marketing-react/yarn-debug.log*
marketing-react/yarn-error.log*