.form-outline {
    position: relative;
    width: 100%;
}

.form-outline .form-control {
    min-height: auto;
    padding: 0.32rem 0.75rem;
    background: transparent;
    transition: all .2s linear;
    border-width: 2px;
}

.form-outline .form-control:focus {
    box-shadow: none !important;
    border-color: #3b71ca;
}

.form-outline .form-control~.form-label {
    position: absolute;
    top: -9px;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0.75rem;
    padding-top: 0.37rem;
    pointer-events: none;
    transform-origin: 0 0;
    transition: all .2s ease-out;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 0;
    display: inline-block;
    opacity: 0;
    font-size: 21px;
}

.form-outline .form-control:focus~.form-label {
    color: #3b71ca;
}

.form-outline .form-control.active~.form-label,
.form-outline .form-control:focus~.form-label {
    transform: translateY(-1rem) translateY(0.1rem) scale(.8);
    opacity: 1;
    background-color: white;
    padding-left: 3px;
    padding-right: 6px;
}

.btn-link,
.btn-link:first-child:hover,
.btn-link:focus-visible,
.btn-link:hover,
:not(.btn-check)+.btn-link:hover {
    text-decoration: none;
    box-shadow: none;
}

.item-wrap {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 3px;
    margin-bottom: 3px;
}

.item-wrap>h6 {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}

.list-sub>.goal-item-wrap {
    padding-bottom: 24px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 24px;
}

.item-wrap>input,
.goal-item-wrap>input {
    width: 87%;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.view-sub>.d-inline-grid {
    grid-template-columns: 16px 450px;
}

.list-action>.d-inline-grid {
    grid-template-columns: 16px 270px 45px 45px 45px 42px;
}

.list-action>div:hover>p,
.list-action>div:hover>span {
    font-weight: bold;
}

.view-sub>.d-inline-grid>h5 {
    margin-left: 6px;
}

.a-name {
    max-width: 270px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.a-status {
    font-size: 12px;
}

.dnb-overview {
    width: 100vw;
    height: calc(100vh - 49px);
    overflow: auto;
}

.dnb-content {
    grid-template-columns: 468px auto;
    position: relative;
}

.dnb-content .list-left {
    position: absolute;
    top: 0;
    left: 0;
}

.dnb-content .view-right {
    margin-left: 485px;
}

.view-right td>span {
    width: 18px;
    text-align: center;
    font-size: 14px;
}

.list-left {
    background-color: white;
    padding-left: 12px;
    padding-right: 6px;
}

.list-left p,
.list-left span {
    cursor: default;
}
.view-right table {
    background-color: #fff;
}
.view-right table thead,
.view-right table tbody {
    border-bottom: 1px solid #dee2e6;
}

.view-right table thead th {
    border-right: 1px solid #dee2e6;
    font-size: 14px;
    white-space: nowrap;
}

.view-right table thead th:last-child {
    border-right: none;
}

span[data-title] {
    position: relative;
    cursor: default;
}

span[data-title]::after {
    display: none;
}

span[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    right: -45px;
    top: -1px;
    display: inline-block;
    background-color: #000000cc;
    color: white;
    padding: 1px 5px;
    border-radius: 6px;
}

.group-sub {
    padding-top: 32px;
    display: grid;
}

.dnb-act-time {
    max-height: 24px;
    width: 100%;
    padding-top: 3px;
}

.dnb-act-time>* {
    height: 21px;
}