<!DOCTYPE html>
<html>

<head>
    <title>Exercise TFS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/5.3.2_dist_css_bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style/bowtie.css" />
    <link rel="stylesheet" href="style/app_style.css" />

    <script src="../3rd/jquery/jquery-3.7.1.min.js"></script>
    <script src="../3rd/bootstrap5/5.3.2_dist_js_bootstrap.bundle.min.js"></script>
    <script src="../3rd/vuejs/dev_vue@2_7_16.js"></script>
    <script src="../3rd/vuejs/vuex.global.js"></script>
    <script src="../3rd/vuejs/vue-observe-visibility.min.js"></script>
    <script src="../3rd/dnd/1.8.4_Sortable.min.js"></script>
    <script src="../3rd/dnd/2.20.0_vuedraggable.umd.min.js"></script>
</head>

<body>
    <main id="tfs-app">
        <b-filter inline-template v-if="IsShowFilter">
            <section class="d-flex align-items-center m-2 bg-light rounded px-2" 
                style="height: 45px;">
                <input type="text" :placeholder="PlaceholderKeyWord" v-model="Keyword" 
                    class="me-3" style="width: 450px;"/>
                <span @click.stop="e => filterByMenu(e, 2)" 
                    class="dnb-chevron-down d-inline-flex justify-content-between align-items-center me-3 bg-light px-2 rounded"
                    style="width:204px;min-height: 30px;">{{LblAssigned}}</span>
                <span @click.stop="e => filterByMenu(e, 3)" 
                    class="dnb-chevron-down d-inline-flex justify-content-between align-items-center me-3 bg-light px-2 rounded"
                    style="width:204px;min-height: 30px;">{{LblStates}}</span>
                <button type="button" class="btn-close" aria-label="Close"
                    @click="onRmFilter"></button>
            </section>
        </b-filter>
        <button v-else type="button" class="btn btn-light m-2 dnb-btn-light"
                    @click="onShowFilter">Show <i class="bi bi-funnel"></i></button>
        <section class="dnb-col-head d-flex">
            <span>Collapse all</span>
            <span>To Do</span>
            <span>New</span>
            <span>Appvored</span>
            <span>In Progess</span>
            <span>Commited</span>
            <span>Done</span>
        </section>
        <b-backlog inline-template v-for="(backlog, b) in Backlogs" 
            :item="backlog" :key="'logitem-' + b">
            <section class="dnb-colbody d-flex">
                <b-item :item="item" :rwork="Time"></b-item>
                <b-state-todo :items="Todo" :state="1"></b-state-todo>
                <b-state-new :items="New" :state="2"></b-state-new>
                <b-state-approve :items="Approved" :state="3"></b-state-approve>
                <b-state-inprogress :items="InProgess" :state="4"></b-state-inprogress>
                <b-state-commit :items="Commited" :state="5"></b-state-commit>
                <b-state-done :items="Done" :state="6"></b-state-done>
            </section>
        </b-backlog>
        <div v-if="EditItem != null && (EditItem.Type == 3)" 
            class="d-inline-block position-fixed dnb-lst-user shadow rounded-bottom"
            :style="{top: EditItem.top, left: EditItem.left}">
            <div v-for="user in EditItem.Users" 
                @click="e => EditItem.onSelect(user.Name)">{{user.Name}}</div>
        </div>
        <div v-if="MenuSelect != null"
            class="d-inline-block position-fixed dnb-lst-user bg-light rounded shadow"
            :style="{top: MenuSelect.top, left: MenuSelect.left}"
            style="z-index: 1;">
            <div v-if="2 == MenuSelect.Type" v-for="item in MenuSelect.Items" class="px-2"
                @click.stop="e => MenuSelect.onSelect(item.Name, 2)">
                <input class="form-check-input" :value="item.Name" v-model="AssignedTo"
                    type="checkbox"><span class="ms-1">{{item.Name}}</span>
            </div>
            <div v-if="3 == MenuSelect.Type" v-for="item in MenuSelect.Items" class="px-2"
                @click.stop="e => MenuSelect.onSelect(item.Name, 3)">
                <input class="form-check-input" :value="item.Name" v-model="States"
                    type="checkbox"><span class="ms-1">{{item.Name}}</span>
            </div>
            <button class="btn btn-light m-2 dnb-btn-light px-2" 
                @click.stop="e => MenuSelect.clearChecks(MenuSelect.Type)" 
                type="button">Clear <i class="bi bi-eraser"></i></button>
        </div>
    </main>
    <script type="text/x-template" id="temp-task-done">
        <div class="card m-1 dh-fitcontent" v-if="isShow || IsShow">
            <div class="card-body">
              <b class="card-title">{{item.Name}}</b>
              <small class="card-subtitle text-muted d-block">{{item.User}}</small>
              <small  class="card-text d-block">{{item.Description}}</small>
              <slot></slot>
              <a href="#" class="card-link"><small>Task link</small></a>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="temp-item-edit">
        <div class="card m-1 dh-fitcontent" v-if="isShow || IsShow">
            <div class="card-body">
              <b class="card-title"
                @keydown="e => onStartChange(e, 1)"
                @keyup="e => onEndChange(e, 1)"
                @click.stop="e => onStartEdit(e, 1)">{{item.Name}}</b>
              <small class="card-subtitle text-muted d-block"
              @click.stop="e => onChangeUser(e, 3)"
              >{{item.User}}</small>
              <small  class="card-text d-block">{{item.Description}}</small>
              <slot></slot>
              <a href="#" class="card-link"><small>Task link</small></a>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="temp-item">
        <bi-editable :item="item" :is-show="IsShow" v-show="IsShow">
            <small class="card-text d-block">Remaining work: {{rwork}}</small>
        </bi-editable>
    </script>
    <script type="text/x-template" id="temp-task">
        <bi-editable :item="item" v-if="IsShow">
            <small class="card-text d-block">Remaining work: 
                <span @keydown="e => onStartChange(e, 2)"
                    @keyup="e => onEndChange(e, 2)"
                    @click.stop="e => onStartEdit(e, 2)">{{item.RemainingWork}}</span>
            </small>
        </bi-editable>
    </script>
    <script type="text/x-template" id="temp-state">
        <div class="dcol-state" v-bind:class=[ClassWrap]>
            <draggable v-if="state == 6" 
                :list="Items" :group="'task-in-item'" 
                v-bind="DnDOptions"
                class="w-100 h-100">
                <b-task-done
                    v-for="task in Items" 
                    :key="'task_' + task.Id"
                    :item="task"></b-task-done>
            </draggable>
            <draggable v-else :list="Items" :group="'task-in-item'" 
                v-bind="DnDOptions"
                class="w-100 h-100">
                <b-task 
                    v-for="task in Items" 
                    :key="'task_' + task.Id"
                    :item="task"></b-task>
            </draggable>
            <button v-if="state == 1 && IsShowBtnNwTask" 
                @click.stop="onClkNewTask"
                type="button" class="btn btn-primary">+ Task</button>
        </div>
    </script>
    <script>
        HTMLElement.prototype.offset = function () {
            const el = this
            const rect = el.getBoundingClientRect(),
                scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
                scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            return { top: rect.top + scrollTop, left: rect.left + scrollLeft }
        }
    </script>
    <script src="script/repository/common.js"></script>
    <script src="script/repository/mock-data.js"></script>
    <script src="script/data-store.js"></script>
    <script src="script/component-temp.js"></script>
    <script src="script/components.js"></script>
    <script src="script/cv-app.js"></script>
</body>

</html>