<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Goal-action api</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <main id="app">
    <div>
      **API**
      <ol>
        <li>
          Get all Maingoal: <a href="http://localhost:8001/api/mains">get .../api/mains</a>
        </li>
        <li>
          Get all Subgoal: <a href="http://localhost:8001/api/allsub">get .../api/allsub</a>
        </li>
        <li>
          Get all Action: <a href="http://localhost:8001/api/allaction">get .../api/allaction</a>
        </li>
        <li>
          Get Main by Id: <a href="http://localhost:8001/api/main?id=">get .../api/main?id=</a>
        </li>
        <li>
          Get Sub: <a href="http://localhost:8001/api/sub?id=">get .../api/sub?id=</a>
        </li>
        <li>
          Get Action: <a href="http://localhost:8001/api/action?id=">get .../api/action?id=</a>
        </li>
        <li>
          <div>Add new Maingoal: <a href="http://localhost:8001/api/main">post .../api/main</a>
            <pre>- body: {
              "Name" : "Name Goal",
              ["Description: "Des ...",]
              ["Budget" : 100,]
              ["Start: "20-Feb-2023",]
              ["End: "20-Feb-2023"]
          }</pre>
        </li>
        <li>
          <div>Add new Subgoal: <a href="http://localhost:8001/api/sub">post .../api/sub</a>
            <pre>- body: {
            "Name" : "Name Goal",
            "ParentId" : "(uuid Maingoal)",
            ["Description: "Des ...",]
            ["Budget" : 100,]
            ["Start: "20-Feb-2023",]
            ["End: "20-Feb-2023"]
            }</pre>
        </li>
        <li>
          <div>Add new Action: <a href="http://localhost:8001/api/action">post .../api/action</a>
            <pre>- body: {
            "Name" : "Name Action",
            "ParentId" : "(uuid Subgoal)",
            ["Description: "Des ...",]
            ["ExpectCost" : 100,]
            ["TrueCost" : 100,]
            ["Start: "20-Feb-2023",]
            ["End: "20-Feb-2023"]
            }</pre>
        </li>
        <li>
          <div>Update Goal: <a href="http://localhost:8001/api/goal/:id">put .../api/goal/:id</a>
            <pre>- body: {
            "Name" : "Name Goal update",
            ["Description: "Des update ..",]
            ["Budget" : 100,]
            ["Start: "20-Feb-2023",]
            ["End: "20-Feb-2023"]
            }</pre>
        </li>
        <li>
          <div>Update Action: <a href="http://localhost:8001/api/action/:id">put .../api/action/:id</a>
            <pre>- body: {
            "Name" : "Name Action update",
            "ParentId" : "(uuid Subgoal)",
            ["Description: "Des update ...",]
            ["ExpectCost" : 100,]
            ["TrueCost" : 100,]
            ["Start: "20-Feb-2023",]
            ["End: "20-Feb-2023"]
            }</pre>
        </li>
        <li>
          Get Actions by SubId: <a href="http://localhost:8001/api/actions?subid=">get .../api/actions?subid=</a>
        </li>
        <li>
          Get Subs by MainId: <a href="http://localhost:8001/api/subs?mainid=">get .../api/subs?mainid=</a>
        </li>
        <li>
          <div>Duplicate Subgoal: <a href="http://localhost:8001/api/copysub">post .../api/copysub</a>
            <pre>- body: {
            "Name" : "Name Goal",
            "ParentId" : "(uuid Maingoal)",
            ["Description: "Des ...",]
            ["Budget" : 100,]
            ["Start: "20-Feb-2023",]
            ["End: "20-Feb-2023"]
            }</pre>
        </li>
        <li>
          Delete Main: <a href="http://localhost:8001/api/main/id=">delete .../api/main/id=</a>
        </li>
        <li>
          Delete Sub: <a href="http://localhost:8001/api/sub/id=">delete .../api/sub/id=</a>
        </li>
        <li>
          Delete Action: <a href="http://localhost:8001/api/action/id=">delete .../api/action/id=</a>
        </li>
      </ol>

    </div>
  </main>

</body>

</html>