<template id="tmp-vw-diagram">
    <div style="display: flex;" :minx="$root.MinX" :maxx="$root.MaxX" :miny="$root.MinY" :maxy="$root.MaxY">
        <aside id="dnb-vwtab-left" :style="[{ width: $root.MinX + 'px'}]">
            <div>
                <menu-list :value="$root.Langs[$root.PLang]" :isfix="true" :sources="$root.Langs"
                    @change:value="$e => changeLanguage($e)">
                </menu-list>
            </div>
            <div style="display: inline-block;border: 1px solid rgb(0, 0, 0);
                width: calc(100% - 10px);cursor: default;border-radius: 4px;" @mousedown="msDwnClssName"
                id="cls-sample">
                <div style="font-size: 16px;font-weight: bold;text-align: center;
                    border-bottom: 1px solid black;">ClassName</div>
                <div style="font-size: 14px; font-weight: 300;border-bottom: 1px solid black;">
                    <div>&nbsp;List Fields</div>
                </div>
                <div style="font-size: 12px;font-weight: 100;">
                    <div>&nbsp;List Property</div>
                </div>
            </div>
            <div style="display: inline-flex; width: 108px; height: 28px;
                background-color: rgb(77, 107, 254); align-items: center; justify-content: center;
                color: white; border-radius: 6px;cursor: pointer;" @click.stop="newDiagram">New Diagram
            </div>
            <div style="display: inline-flex; width: 108px; height: 28px;
                background-color: rgb(77, 107, 254); align-items: center; justify-content: center;
                color: white; border-radius: 6px; cursor: pointer;" @click.stop="exportDiagram">Save data
            </div>
            <div style="display: grid; width: 108px; height: 28px;
                    background-color: rgb(77, 107, 254); align-items: center; justify-content: center;
                color: white; border-radius: 6px; cursor: pointer; grid-template-columns: auto 0;">
                <label for="file-import" style="cursor: pointer;">Import data</label>
                <input type="file" id="file-import" style="opacity: 0;" accept=".txt" @change="importDiagram" />
            </div>
        </aside>
        <article id="dnb-vw-main" style="position: relative; border:1px solid #dedede; overflow: auto;
                width:calc(100vw - 32px);scrollbar-width: thin;" :style="{ height: VwHeight}">
            <canvas id="dnb-mcanvas" width="780" height="870">
                Your browser does not support the HTML canvas tag.
            </canvas>
            <div id="dnb-vwdiagrams" style="position: absolute;top: 0;left: 0; height: 870px;"
                :style="[{width: ($root.MaxX - $root.MinX) + 'px'}]">
                <rect-wrap v-for="wItm in $root.ListClass" :item="wItm"
                    :key="'id=' + wItm.id + ',type=' + wItm.type"></rect-wrap>
                <rect-wrap v-if="$root.NewClassName != null" :item="$root.NewClassName"
                    :key="'id=' + $root.NewClassName.id"></rect-wrap>
            </div>
            <div v-if="$root.ViewCode" id="dnb-viewcode" style="min-width: 360px; min-height: 250px; box-sizing: border-box;
                        position: fixed; left: calc(249px + 220px); top: calc(39px - 12px);
                        max-height: calc(100vh - 69px); overflow: auto; 
                        border-radius: 10px; background-color: #cde5f9; padding: 10px;" :style="[{
                        top: $root.ViewCode.top + 'px', left: $root.ViewCode.left + 'px',
                        }]">
                <pre style="margin-top: 10px;"><code class="language-csharp" v-html="$root.ViewCode.html"></code></pre>
                <i class="bi bi-x-lg cpoint" style="width: 24px;height: 20px;display: inline-block;text-align: center;
                        background-color: white; border-radius: 6px;padding-top: 4px;
                        position: absolute;right: 3px;top: 2px;"
                    @click.stop="e => { $root.DynamicVar.delete('FViewCode')}"></i>
            </div>
        </article>
    </div>
</template>
<template id="tmp-wrap-rect">
    <div :id="'cls_' + item.id" :w="item.width" :h="item.height" :x="item.left" :y="item.top" class="wrprect"
        :style="{top: item.top + 'px', left: item.left + 'px'}">
        <component v-bind:is="CompRect" :item="item">
            <template #menu="sPrp">
                <i class="bi bi-arrows-move cpoint ctlmove" style="left: 0;" @mousedown="sPrp.mddnd"></i>
                <i class="bi bi-pen cpoint ctledit" style="right:24px" @click.stop="e => sPrp.ckedt(item)"></i>
                <i class="bi bi-x-lg cpoint ctledit" style="right: 0;" @click.stop="e => sPrp.ckdel(item)"></i>
            </template>
        </component>
    </div>
</template>
<template id="tmp-rect-enum">
    <section class="wrp-enum">
        <div class="vwheader">
            <slot name="menu" :mddnd="onMouseDown" :ckedt="editCls" :ckdel="deleteCls"></slot>
            <span style="font-weight: bold;">enum {{item.Name}}</span>
        </div>
        <div style="font-size: 16px; font-weight: 300;padding: 0 6px;">{{TxtField}}</div>
    </section>
</template>
<template id="tmp-rect-class">
    <section class="wrp-cls">
        <div class="vwheader" style="min-height: 18px;">
            <slot name="menu" :mddnd="onMouseDown" :ckedt="editCls" :ckdel="deleteCls"></slot>
            <span style="font-weight: bold;" @dblclick="e => onEditable(e, 'class name')"
                @keypress="e => $root.preventKeyPress(e, [13, 32])" @blur="e => onDoneEdit(e, 'class name')"
                @click="e => showCodeBody(-1989, -1989)">{{ClassName}}</span>
            <span v-for="exv in ViewExtends">
                <small>{{exv[0]}}&nbsp;</small><small>{{exv[1]}}</small>
            </span>
        </div>
        <div v-if="0 < ExtendFields.length + item.Fields.length"
            style="font-size: 14px; border-bottom: 1px solid black;">
            <i @click.stop="$root.clearDyVar" style="display: block;" v-for="field in ExtendFields">
                <span>&nbsp;{{vwVisible(field.AccessModify)}}&nbsp;{{field.Name}}:&nbsp;</span>
                <small style="font-weight: bold;">{{field.DataType}}</small>
            </i>
            <div v-for="field in item.Fields" @click.stop="e => clkField(field)">
                <span>&nbsp;{{vwVisible(field.AccessModify)}}&nbsp;{{field.Name}}:&nbsp;</span>
                <small style="font-weight: bold;">{{field.DataType}}</small>
            </div>
        </div>
        <div style="font-size: 14px;padding-right: 6px;padding-left: 6px;word-spacing: -6px;">
            <div v-for="(prp, ii) in item.Properties" @click="e => showCodeBody(ii, 0)">
                <span style="padding-right: 6px;font-size: 12px;">{{vwVisible(prp.AccessModify)}}</span>
                <span style="font-size: 10px;padding-right: 6px;">{{prp.DataType}}</span>
                <span @dblclick="e => onEditable(e, 'methd name')" @keypress="e => $root.preventKeyPress(e, [13, 32])"
                    @blur="e => onDoneEdit(e, 'methd name', ii)">{{prp.Name}}</span>
                <span style="font-size: 10px;word-spacing: 0;">{{propTostring(prp)}}</span>
            </div>
            <small v-for="(prp, ii) in ExtProperties" style="display: block;"
                @click.stop="e => showCodeBody(ii, item.Properties.length)">
                <i style="padding-right: 6px;font-size: 12px;">{{vwVisible(prp.AccessModify)}}</i>
                <i style="padding-right: 6px;font-size: 10px;">{{prp.DataType}}</i>
                <i style="padding-right: 0;">{{prp.Name}}</i>
                <i style="font-size: 10px;word-spacing: 0;">{{propTostring(prp)}}</i>
            </small>
        </div>
    </section>
</template>
<template id="tmp-menu-list">
    <div class="wrap-mnlist" :style="[ListSrc.length ? { minWidth: '82px' } : null]">
        <span v-if="!ListSrc.length" @click="openLstSrc">{{value}}</span>
        <div v-else class="dnb-mnlst">
            <span v-for="acs in ListSrc" class="p36 itmmnls" @click.stop="e => changeValue(acs)" :style="[acs == this.value ? {
                    backgroundColor: '#dbdbdb'
                } : null]">{{acs}}</span>
            </span>
            </span>
</template>
<template id="tmp-drp-search">
    <h6 class="wrp-drpsearch">
        <div class="drps-wrap">
            <input type="text" placeholder="typing to search by name..."
                style="width: calc(100% - 10px);border-color: transparent;height: 20px;" v-model="TxtSearch"
                @input="inSearch" />
            <div class="dr_lst-wrap" style="max-height: 120px; overflow: auto;">
                <div v-for="item in ListSrc" class="itmdrp" :key="item.id" :style="[bgSelect(item)]">
                    <span @click.stop="e => selectItem(item)">{{item.Name}}</span>
                    <i class="bi bi-x" @click.stop="e => removeItem(item)"></i>
                </div>
            </div>
            <i class="bi bi-x-lg cpoint extdrp" @click.stop="e => $emit('on:exit')"></i>
        </div>
    </h6>
</template>