<template id="tmp-vw-diagram">
    <section style="position: relative;">
        <canvas id="dnb-mcanvas" width="1900" height="870" style="border:1px solid #000000;">
            Your browser does not support the HTML canvas tag.
        </canvas>
        <div style="position: absolute;top: 0;left: 0;
        width: 1900px;height: 870px;border: 1px solid rgb(0, 0, 0);">
            <rect-class v-for="wItm in $root.ListClass" 
                :item="wItm"></rect-class>
        </div>
        
    </section>
</template>
<template id="tmp-rect-class">
    <div :id="item.id"
        style="display: inline-block;border: 1px solid rgb(0, 0, 0);position: inherit;"
        :style="{width: item.width + 'px', top: item.top + 'px', left: item.left + 'px'}">
        <div style="font-size: 18px;font-weight: bold;text-align: center;border-bottom: 1px solid black;"
            >{{ViewName}}</div>
        <div style="font-size: 16px; font-weight: 300;border-bottom: 1px solid black;">
            <div v-for="field in item.Fields">&nbsp;{{field.AcModify}} {{field.Name}}: {{field.Type}}</div>
        </div>
        <div style="font-size: 14px;font-weight: 100;">
            <div v-for="prp in item.Properties">&nbsp;{{getProperty(prp)}}</div>
        </div>
    </div>
</template>