.dnb-col-head > * {min-width: calc(15rem + 0.5rem);}
.card {width: 15rem;}
.dcol-state {min-width: 15rem; min-height: 9rem;}
.dcol-state .card { border-width: 2px;border-color: #dee2e6; }
.dnb-col-todo .card {    
    border-color: #0d6efd;
}
.dnb-col-new .card {    
    border-color: #20c997;
}
.dnb-col-approve .card {    
    border-color: #198754;
}
.dnb-col-inprgress .card {    
    border-color: #ffc107;
}
.dnb-col-commit .card {    
    border-color: #fd7e14;
}
.dnb-col-done .card-body {opacity: 0.69}
.dh-fitcontent {height: fit-content;}
[contenteditable="true"] {
    width: 100%;
    display: block;
    margin-bottom: 0;
    border-width: 1px;
    border-color: #868686;
    border-style: solid;
    padding-left: 3px;
    padding-right: 3px;
}
span[contenteditable="true"] {min-width: 24px;
    display: inline-block; width: initial;}
.dnb-colbody > .dnb-col-todo:first-child {margin-left: 15rem;}
.dnb-lst-user { width: 204px;
    background-color: #f6f6f6;}
.dnb-lst-user > * {padding: 3px;cursor: default;}
.dnb-lst-user > *:hover {
    background-color: white;
}
.dnb-lst-user > .dnb-btn-light:hover,
.dnb-btn-light:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
}
.dnbChangeUser {border: 1px solid #b9b9b9;position: relative;}
.dnbChangeUser::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #969696;
    position: absolute;
    content: '';
    right: 6px;
    top: 7px;
}
.dnb-chevron-down::after {
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}