<template id="tmp-pg-megamart">
    <header class="">
        <section class="cdefault" 
            style="display: flex;justify-content: space-between;border-bottom: 1px solid whitesmoke;
                margin-bottom: 6px; padding-bottom: 6px; align-items: center; padding-top: 6px;">
            <i>Welcome to www Megamart!</i>
            <div style="display: inline-flex;">
                <span class="mx9px"><i class="bi bi-geo-alt mcolor"></i>&nbsp;Deliver to <a 
                    href="tel:+84349797441" class="txtbold">+(84)349797441</a></span>
                <span class="mx9px cpoint"><i class="bi bi-truck mcolor"></i>&nbsp;Track your order</span>
                <span class="mx9px cpoint"><i class="bi bi-gear mcolor"></i>&nbsp;All Offers</span>
            </div>
        </section>
        <nav style="display: flex;justify-content: space-between;">
            <div class="mcolor" style="display: inline-flex;align-items: center;">
                <i class="mmenu mbg brd8px cpoint bi bi-filter-left font28px"></i>
                <h1 class="cdefault">MegaMart</h1>
            </div>
            <div class="msearch mbg brd8px" style="width: 420px;padding: 6px 16px;">
                <i class="bi bi-search mcolor font20px cpoint"></i>
                <input type="text" class="mbg mx6px p6px"
                style="border:none; width: 100%;margin-right: 9px;"
                placeholder="Search essentials, groceries and more..." />
                <i class="bi bi-list-ul font26px cpoint mcolor"></i>
            </div>
            <div style="display: inline-flex; align-items: center;">
                <div class="btnsign cpoint brd8px" 
                    style="display: inline-flex; align-items: center;padding: 6px 16px;">
                    <i class="bi bi-person mcolor font26px"></i>
                    <strong style="padding-left: 6px;">Sign Up/Sign In</strong>
                </div>
                <div class="grpcart">
                    <i class="bi bi-cart3 mcolor font24px mx9px cpoint brd8px" 
                        style="padding: 6px;"></i>
                </div>
            </div>
        </nav>
    </header>
    <section class="mcategories" >
        <div v-for="(cate, ii) in $root.Categories"
            @click="e => selectCate(cate)"
            class="mx9px p6px brd8px cpoint"
            :class="[getClassSelectCate(cate)]"
            style="padding: 6px 16px;">{{cate}}</div>
    </section>
    <vw-carousel></vw-carousel>
    <vw-mobile type="Mobile">
        <template #vtitle>
            <h2 class="scolor">Grab the best deal on</h2>
          </template>
          <template #vname>
              <h2 class="mcolor">Smartphones</h2>
            </template>
    </vw-mobile>
    <vw-product type="Category">
        <template #vtitle>
            <h2 class="scolor">Shop from</h2>
          </template>
          <template #vname>
              <h2 class="mcolor">Top Categories</h2>
            </template>
    </vw-product>
    <vw-brands type="Brand">
        <template #vtitle>
            <h2 class="scolor">Top</h2>
          </template>
          <template #vname>
              <h2 class="mcolor">Electronics Brands</h2>
            </template>
        </vw-brands>
    <vw-product type="Essential">
        <template #vtitle>
            <h2 class="scolor">Daily</h2>
          </template>
          <template #vname>
              <h2 class="mcolor">Essentials</h2>
            </template>
        </vw-product>
</template>
<template id="tmp-vw-carousel">
    <section style="display: flex;">
        <div :id="IdSwiper" style="height: 286px;"
            class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
            <div class="swiper-wrapper" aria-live="polite">
                <div v-for="(item, ii) in Items" role="group" 
                    style="width: 1250px;background-color: #666666;border-radius: 12px; display: flex;height: 250px;"
                    class="swiper-slide" 
                    :style="[item.bghex ? { backgroundColor: item.bghex } : null,
                        item.color ? { color: item.color } : null
                    ]"
                    :class="[0 == ii ? 'swiper-slide-active' : (1 == ii ? 'swiper-slide-next' : '')]"
                    :aria-label="(ii + 1) + ' / ' + Items.length" >
                    <div style="width: 898px; height: 100%; text-align: left; font-size: 28px;
                        display: inline-flex; flex-direction: column; justify-content: space-between;
                        padding: 30px 50px 90px 50px; box-sizing: border-box;">
                        <div v-if="item.des">{{item.des}}</div>
                        <h2 v-if="item.Name">{{item.Name}}</h2>
                        <div v-if="item.event">{{item.event}}</div>
                    </div>
                    <img :src="item.img" alt="item.Name" 
                        style="width: calc(100% - 898px - 6px);height: calc(100% - 6px);border-radius: 10px;"/>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" 
                :class="[IdSwiper]" style="width: 80px;">
                <span v-for="(item, ii) in Items" class="swiper-pagination-bullet" style="left: 32px;"
                    :class="[0 == ii ? 'swiper-pagination-bullet-active swiper-pagination-bullet-active-main' : 
                            (1 == ii ? 'swiper-pagination-bullet-active-next' : 
                            (2 == ii ? 'swiper-pagination-bullet-active-next-next' : ''))]"
                    :aria-current="0 == ii ? 'true' : null"></span>
            </div>
            <div class="autoplay-progress">
                <svg viewBox="0 0 48 48" class="svgprogess" >
                  <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span>3s</span>
              </div>
        </div>
    </section>
</template>
<template id="tmp-vw-mobile">
    <div style="border-bottom: 1px solid gainsboro; justify-content: space-between;
        display: flex;margin-top: 36px;align-items: center;">
        <div style="display: inline-flex; align-items: center;
            height: 42px; border-bottom: 2px solid #008ecc; margin-bottom: -1px;">
            <slot name="vtitle"></slot>&nbsp;<slot name="vname"></slot>
        </div>
        <strong class="cpoint" style="font-size: 12px;">View All<i class="bi bi-chevron-right mcolor"></i></strong>
    </div>
    <section style="display: flex;">
        <div v-for="item in Items" 
            class="prditem" 
            style="margin: 12px;border-radius: 18px;"
            :style="[BorderItem]">
            <div style="width: 100%; height: calc(100% - 80px);position: relative;
                background-repeat: no-repeat;background-position: center;"
                :style="{backgroundImage: getBgImg(item)}">
                <span class="numdiscnt">{{getDiscount(item)}}% OFF</span>
            </div>
            <div style="height: 80px;padding-left: 12px; padding-right: 12px;">
                <strong style="display: block;font-size: 16px;">{{item.Name}}</strong>
                <strong><span v-html="item.Currency"></span>{{item.Sale}}</strong>&nbsp;
                <span style="text-decoration:line-through;"><span v-html="item.Currency"></span>{{item.Price}}</span>
                <div style="font-weight: bold;color: #269c40">
                    Save - <span><span v-html="item.Currency"></span>{{item.Price - item.Sale}}</span>
                </div>
            </div>
        </div>
    </section>
</template>
<template id="tmp-vw-product">
    <div style="border-bottom: 1px solid gainsboro;justify-content: space-between;
        display: flex;margin-top: 36px;align-items: center;">
        <div style="display: inline-flex; align-items: center;
            height: 42px; border-bottom: 2px solid #008ecc; margin-bottom: -1px;">
            <slot name="vtitle"></slot>&nbsp;<slot name="vname"></slot>
        </div>
        <strong class="cpoint" style="font-size: 12px;">View All<i class="bi bi-chevron-right mcolor"></i></strong>
    </div>
    <section style="display: flex;">
        <div v-for="item in Items"
            style="margin: 12px;border-radius: 18px;"
            :style="[BorderItem]">
            <div v-if="type == 'Category'" 
                style="display: inline-flex;flex-direction: column;align-items: center;width: 100%;">
                <div style="background-repeat: no-repeat;background-position: center;background-size: 63%;
                    background-color: whitesmoke; width: 156px; height: 156px; border-radius: 50%; "
                    :style="{backgroundImage: getBgImg(item)}">
                </div>
                <div style="font-size: 18px; font-weight: 600; margin-top: 12px;"
                    >{{item.Name}}</div>
            </div>
            
            <div v-if="type == 'Essential'" 
                style="display: inline-flex;flex-direction: column;align-items: center;width: 100%;">
                <div style="background-repeat: no-repeat;background-position: center;background-size: contain;background-color: whitesmoke; 
                    width: 180px; height: 180px; border-radius: 12px; border: 1px solid whitesmoke;"
                    :style="{backgroundImage: getBgImg(item)}">
                </div>
                <div style="font-size: 16px;margin-top: 12px;color: #666666;">{{item.Name}}</div>
                <div style="font-size: 18px; font-weight: 600; margin-top: 2px;color: #252525;">{{item.event}}</div>
            </div>
        </div>
    </section>
</template>
<template id="tmp-vw-brands">
    <div style="border-bottom: 1px solid gainsboro;justify-content: space-between;
        display: flex;margin-top: 36px;align-items: center;">
        <div style="display: inline-flex; align-items: center;
            height: 42px; border-bottom: 2px solid #008ecc; margin-bottom: -1px;">
            <slot name="vtitle">Grab the best deal on</slot>&nbsp;
            <slot name="vname">Smartphones</slot>
        </div>
        <strong class="cpoint" style="font-size: 12px;">View All<i class="bi bi-chevron-right mcolor"></i></strong>
    </div>
    <section style="padding: 18px 0 0 0;">
        <div :id="IdSwiper" style="height: 238px;"
            class="swiper swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
            <div class="swiper-wrapper" aria-live="polite">
                <div v-for="(item, ii) in Items" 
                    class="swiper-slide" role="group" 
                    :class="[0 == ii ? 'swiper-slide-active' : (1 == ii ? 'swiper-slide-next' : '')]"
                    :aria-label="(ii + 1) + ' / ' + Items.length" 
                    style="width: 480px;height: 198px; margin-right: 30px;border-radius: 24px;"
                    :style="[getBg(item)]">
                    <div style="width: 198px; height: 100%;text-align: left;
                            display: inline-flex; flex-direction: column; justify-content: space-between;
                            padding: 24px 8px 24px 24px; box-sizing: border-box;">
                        <div style="padding: 6px 12px; width: fit-content; border-radius: 8px;"
                            :style="[getBgName(item)]">{{item.Name}}</div>
                        <img v-if="item.logo"
                            style="height: 60px;width: fit-content;object-fit: contain;object-position:left;border-radius: 12px;" 
                            :src="item.logo" :alt="item.Name"/>
                        <div>{{item.event}}</div>
                    </div>
                    <div style="width: calc(100% - 198px - 6px); height: calc(100% - 6px); border-radius: 22px;
                            background-repeat: no-repeat; background-size: contain;background-position: center;"
                        :style="[{backgroundImage: getBgImg(item.img)}]"></div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
                :class="[IdSwiper]">
                <span v-for="(item, ii) in Items" 
                    :aria-current="0 == ii ? 'true' : null"
                    class="swiper-pagination-bullet" tabindex="0" role="button" 
                    :class="[0 == ii ? 'swiper-pagination-bullet-active swiper-pagination-bullet-active-main' : 
                            (1 == ii ? 'swiper-pagination-bullet-active-next' : 
                            (2 == ii ? 'swiper-pagination-bullet-active-next-next' : ''))]"
                    :aria-label="'Go to slide' + (ii + 1)" ></span>
            </div>
        </div>
    </section>
</template>