<template id="tmp-form-schedule">
    <section class="form-edit" style="background-color: rgba(207, 207, 207, 0.24); border-radius: 12px; 
            padding: 12px;min-height: calc(100vh - 270px); margin-top: 34px;">
        <h3 style="margin: 0;">{{item.Name}}</h3>
        <div style="min-height: 20px;">{{item.Users.join(', ')}}</div>
        <div v-if="1 == TxtDays.length" style="display: flex;gap: 8px; align-items: center;">
            <div style="display: flex; flex-direction: row;align-items: center;">
                <small>{{TxtTimes[0]}}</small>&nbsp;-&nbsp;<small>{{TxtTimes[1]}}</small>
            </div>
            <div style="display: flex; align-items: center;border-left: 2px solid #b0b0b0;padding-left: 6px;"
                v-bind:style="{
                    flexDirection: 1 < TxtDays.length ? 'column' : ''
                }">
                <span v-for="(txt, ii) in TxtDays" :key="txt" v-bind:iiday="ii">{{txt}}</span>
            </div>
        </div>
        <div v-else style="display: flex; flex-direction: row; align-items: center;">
            <div style="display: flex; flex-direction: row;align-items: center;">
                <small>{{TxtTimes[0]}}</small>&nbsp;<span>{{TxtDays[0]}}</span>
            </div>
            &nbsp;-&nbsp;
            <div style="display: flex; flex-direction: row;align-items: center;">
                <small>{{TxtTimes[1]}}</small>&nbsp;<span>{{TxtDays[1]}}</span>
            </div>
        </div>
        <div style="display: grid; grid-template-columns: 50% 50%; gap: 8px;">
            <div>
                <div class="cmd-task" contenteditable="plaintext-only" style="margin-left: -6px;"
                    @keypress="(evt) => { (evt.which === 13) && evt.preventDefault()}"
                    @keyup.enter.prevent="processCmdTask">{{TxtCmdTask}}</div>
                <div v-for="task in Tasks"
                    style="display: grid;grid-template-columns: 16px auto 72px;align-items: center;gap: 8px;"
                    @click.stop="e => openFormTask(task)">
                    <div class="grid items-center justify-center" @click.stop="e => $root.toggFinish(task.Id)">
                        <input class="peer col-start-1 row-start-1 h-4 w-4 appearance-none rounded border border-gray-300 ring-transparent 
                            checked:border-violet-600 checked:bg-violet-600 dark:border-gray-600 dark:checked:border-violet-600" 
                        v-model="$root.IdDones" type="checkbox" :value="task.Id" name="idTaskDone">
                        <svg viewBox="0 0 14 14" fill="none" class="invisible col-start-1 row-start-1 stroke-white peer-checked:visible dark:text-violet-300">
                            <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <span>{{task.Name}}</span>
                    <small>{{getTimeDig(task)}}</small>
                </div>
            </div>
            <div>
                <strong v-if="TaskEdit != null">{{TaskEdit.Name}}</strong>
                <div v-if="TaskEdit != null" contenteditable="true" @paste="$root.cleanHTML" @blur="blurTaskNote"
                    v-html="TaskEdit.Note"></div>
            </div>
        </div>
    </section>
</template>