<!doctype html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="3rd/bootstrap5/bootstrap.min.css" />
    <link rel="stylesheet" href="3rd/bootstrap5/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="3rd/jquery-3.4.1.min.js"></script>
    <script src="3rd/dev_vue@2_7_14.js"></script>
    <script src="3rd/react18/react.development.js"></script>
    <script src="3rd/react18/react-dom.development.js"></script>
    <script src="3rd/babel.min.js"></script>
    <script src="common.js"></script>
    <script src="mock-data.js"></script>
    <script src="modal.js"></script>
    <script src="https://unpkg.com/scheduler-polyfill"></script>
    <link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui-react/dist/umd/semantic-ui-react.min.js"></script>
</head>
<body>
    <main class="dnb-view-100h">
        <section id="react-filter"></section>
        <section style="padding: 6px;">
            <b class="text-success">View Data <span class="opacity-25">(Vuejs CDN)</span>: </b>
            <div id="dnb-app-vue">
                <ul class="list-group list-group-flush">
                    <li v-if="AppMsg" v-html="AppMsg"
                        class="text-black-50 fw-light fst-italic"></li>
                    <li v-for="wItem in ListDataUI" class="list-group-item ps-0" 
                        v-bind:id-land="'dnb-land_' + wItem.Land.Id"
                        v-bind:id-region="'dnb-regn_' + wItem.Region.Id">
                        <i class="text-black-50">{{wItem.Land.Name}} > {{wItem.Region.Name}}</i>
                        <div v-for="pGrp in wItem.PGroups">
                            <div class="d-flex justify-content-start align-items-start">
                                <b class="text-secondary me-2">{{pGrp.PGroup.Name}}</b>
                                <span class="badge bg-info rounded-pill text-white fw-normal">{{pGrp.SumGoal}}</span>
                            </div>
                            <ol class="dnb-products">
                                <li v-for="prduct in pGrp.Products" v-bind:id-product="'dnb-product_' + prduct.Data.Id">
                                    <h6 class="mb-0 text-muted" @click="e => onTogglePrdExpand(prduct.Data.Id, pGrp.PGroup.Id, wItem.Region.Id)"
                                        style="cursor: default;">{{prduct.Data.Name}}</h6>
                                    <ul v-if="isPrdExpand(prduct.Data.Id, pGrp.PGroup.Id, wItem.Region.Id)" class="dnb-goals">
                                        <mf-viewgoal inline-template v-for="goal in prduct.ListGoal" :entry="goal"
                                            :key="'lnd'+wItem.Land.Id+'rg'+wItem.Region.Id+'prg'+pGrp.PGroup.Id+'p'+prduct.Data.Id+'gl'+goal.Id">
                                            <li v-bind:id-goal="'dnb-goal_' + entry.Id" >
                                                <p class="mb-0" v-bind:class="[entry.Finish ? 'text-black-50' : '']"
                                                    @click.stop="toggleExpand">{{entry.Name}}</p>
                                                <div v-if="IsExpand" class="mb-2 d-flex justify-content-start" 
                                                    v-bind:class="[entry.Finish ? 'text-black-50' : '']">
                                                    <span class="text-muted me-1">Finish: </span>
                                                    <input v-model="entry.Finish" type="checkbox"
                                                        class="form-check-input dnb-r14px" />
                                                    <small v-if="Start || End" class="bi bi-calendar-range ms-3 me-1"></small>
                                                    <small class="text-muted">{{Start}}</small>
                                                    <small v-if="End" class="text-muted">&nbsp;-&nbsp;{{End}}</small>
                                                </div>
                                                <article v-if="IsExpand" class="d-inline-block">
                                                    <div v-for="actv in ListActivity" 
                                                        class="d-inline-flex align-items-center m-1 py-1 px-2 bg-light rounded-3">
                                                        <input v-model="actv.Data.Finish" type="checkbox"
                                                                class="form-check-input dnb-r14px mt-0 me-1" />
                                                        <p class="mb-0">{{actv.Data.Name}}</p>
                                                    </div>
                                                </article>
                                            </li>
                                        </mf-viewgoal>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <section id="dashboard" class="dnb-view-100h p-1">
        <b class="text-success">View Dashboard <span class="opacity-25">(Vuejs CDN)</span>: </b>
        <div class="list-land">
            <h6 @click.stop="e => toggleCollapse(1)">List Land: <b v-if="!showExpand(1)">&#10010;</b></h6>
            <div v-for="item in Lands" v-if="showExpand(1)" class="lst-entry">
                <span>Id: {{item.Id}}</span>
                <input type="text" class="form-control form-control-sm" v-model="item.Name" @change="onChange" />
            </div>
            <div class="lstentry-new d-flex flex-row justify-content-start align-items-center flex-nowrap">
                <span class="align-self-center w45px">Id: {{NewItems[0].Id}}</span>
                <input class="form-control form-control-sm" type="text" v-model="NewItems[0].Name" />
                <input class="btn btn-primary btn-sm" value="+ Land" type="button" @click="e => newItem(0)" />
            </div>
        </div>
        <div class="list-region">
            <h6 @click.stop="e => toggleCollapse(2)">List Region: <b v-if="!showExpand(2)">&#10010;</b></h6>
            <div v-if="showExpand(2)" class="lst-entry" v-for="item in Regions">
                <span>Id: {{item.Id}}</span>
                <input type="text" class="form-control form-control-sm" v-model="item.Name" @change="onChange" />
                <span>LandId</span>
                <input type="number" class="form-control form-control-sm" v-model="item.LandId" :min="MinLandId"
                    :max="MaxLandId" @change="e => onChangeId(e, item, 1)" />
            </div>
            <div class="lstentry-new d-flex flex-row justify-content-start align-items-center flex-nowrap">
                <span class="align-self-center w45px">Id: {{NewItems[1].Id}}</span>
                <input class="form-control form-control-sm" type="text" v-model="NewItems[1].Name" />
                <span class="ms-1">LandId: </span>
                <input class="form-control form-control-sm w45px" type="number" v-model="NewItems[1].LandId"
                    :min="MinLandId" :max="MaxLandId" />
                <input class="btn btn-primary btn-sm" value="+ Region" type="button" @click="e => newItem(1)" />
            </div>
        </div>
        <div class="list-productgroup">
            <h6 @click.stop="e => toggleCollapse(3)">List Product group: <b v-if="!showExpand(3)">&#10010;</b></h6>
            <div v-if="showExpand(3)" class="lst-entry" v-for="item in ProductGroups">
                <span>Id: {{item.Id}}</span>
                <input type="text" class="form-control form-control-sm" v-model="item.Name" @change="onChange" />
            </div>
        </div>
        <div class="list-product">
            <h6 @click.stop="e => toggleCollapse(4)">List Product: <b v-if="!showExpand(4)">&#10010;</b></h6>
            <div v-if="showExpand(4)" class="lst-entry" v-for="item in Products">
                <span>Id: {{item.Id}}</span>
                <input type="text" class="form-control form-control-sm" v-model="item.Name" @change="onChange" />
            </div>
        </div>
        <div class="list-subproduct">
            <h6 @click.stop="e => toggleCollapse(5)">List Sub product: <b v-if="!showExpand(5)">&#10010;</b></h6>
            <div v-if="showExpand(5)" class="lst-entry" v-for="item in SubProducts">
                <span>Id: {{item.Id}}</span>
                <input type="text" class="form-control form-control-sm" v-model="item.Name" @change="onChange" />
            </div>
        </div>
        <div class="list-market">
            <h6 @click.stop="e => toggleCollapse(6)">List Market: <b v-if="!showExpand(6)">&#10010;</b></h6>
            <div v-if="showExpand(6)" class="lst-entry" v-for="item in MarketSegments">
                <span>Id: {{item.Id}}</span>
                <input type="text" class="form-control form-control-sm" v-model="item.Name" @change="onChange" />
            </div>
        </div>
        <div class="list-submarket">
            <h6 @click.stop="e => toggleCollapse(7)">List sub market: <b v-if="!showExpand(7)">&#10010;</b></h6>
            <div v-if="showExpand(7)" class="lst-entry" v-for="item in StakeholderGroups">
                <span>Id: {{item.Id}}</span>
                <input type="text" class="form-control form-control-sm" v-model="item.Name" @change="onChange" />
            </div>
        </div>
        <div class="list-goal">
            <h6 @click.stop="e => toggleCollapse(8)">List goal: <b v-if="!showExpand(8)">&#10010;</b></h6>
            <mf-dashgoal inline-template v-for="item in Goals" v-if="showExpand(8)" :entry="item" :key="'goal_' + item.Id">
                <div class="lst-entry">
                    <span>Id: {{entry.Id}}</span>
                    <input type="text" class="form-control form-control-sm" v-model="entry.Name" @change="onChange" />
                    <span>Finish: <input v-model="entry.Finish" type="checkbox"
                            class="form-check-input dnb-r14px" /></span>
                    <span>
                        <small>Start</small><input type="date" name="g-start" :value="Start" @change="changeStart"
                            :max="End ? End : null" :disabled="entry.Finish ? true : false"/>
                    </span>
                    <span>
                        <small>End</small><input type="date" name="g-end" :value="End" @change="changeEnd"
                            :min="Start ? Start : null" 
                            :disabled="entry.Finish ? true : (Start ? false : true)"/>
                    </span>
                </div>
            </mf-dashgoal>
        </div>
        <div class="list-activity">
            <h6 @click.stop="e => toggleCollapse(9)">List activity: <b v-if="!showExpand(9)">&#10010;</b></h6>
            <div v-if="showExpand(9)" class="lst-entry" v-for="item in Activities">
                <span>Id: {{item.Id}}</span>
                <input type="text" class="form-control form-control-sm" v-model="item.Name" @change="onChange" />
                <span>Finish: <input v-model="item.Finish" type="checkbox" class="form-check-input dnb-r14px" /></span>
                <input type="number" class="form-control form-control-sm" v-model="item.GoalId" :min="MinGoalId"
                    :max="MaxGoalId" @change="e => onChangeId(e, item, 2)" />
            </div>
        </div>
    </section>
    <script>
        window._mFlter = new MktFilter([new Criterial(0, 1, [0, 0])])
        $(document).ready(function () {
            const app = newAppVue(window._mFlter)
            newAppVueDasboard(window._mFlter, app)
        })
    </script>
    <script src="app_react.js" type="text/babel" data-presets="react,stage-3"></script>
    <script src="app_vue.js"></script>
</body>
</html>