body {display: grid;
    grid-template-columns: 1200px calc(100% - 1200px);}

.list-criterial, .list-button {padding: 6px;}
.list-criterial > * {margin-bottom: 6px; display: flex;}
.list-criterial > * > * {margin-right: 3px;}
.btn-del-crite {width: 30px; padding-left: 6px;}

.dnb-view-100h {max-height: 100vh; overflow-y: auto;}
#dashboard [class|="list"] > .lst-entry {display: grid; grid-template-columns: 42px 554px 90px; grid-gap: 9px; margin-bottom: 9px;align-items: center;}

#dashboard [class|="list"] > h6:first-child {cursor: pointer;}
.dnb-r14px {width: 14px;height: 14px;}