body {
    display: flex;
}

.list-criterial,
.list-button {
    padding: 6px;
}

.list-criterial>* {
    margin-bottom: 6px;
    display: flex;
}

.list-criterial>*>*,
.ccrite-grp-ids>* {
    margin-right: 3px;
    height: 30px;
}
.list-criterial>*>*.ui.dropdown {
    padding-top: 7px !important;
    min-height: 30px !important;
}
.list-criterial>*>*.ui.selection.dropdown>.dropdown.icon {top:6px !important;}
.list-criterial>*>*.ui.dropdown:first-child {min-width: 96px;}
.btn-del-crite {
    width: 30px;
    padding-left: 7px;
    padding-top: 3px;
}

.dnb-view-100h {
    max-height: 100vh;
    overflow-y: auto;
}
main.dnb-view-100h {min-width: 1200px;}

#dashboard [class|="list"]>.lst-entry {
    display: grid;
    grid-template-columns: 42px 246px 81px 141px 141px;
    grid-gap: 9px;
    margin-bottom: 9px;
    align-items: center;
}

#dashboard [class|="list"]>h6:first-child {
    cursor: pointer;
}

.dnb-r14px {
    width: 14px;
    height: 14px;
}
.w45px {width: 45px;}
.lstentry-new > * {max-width: 248px;margin-right: 3px;}
.dnb-goals {list-style-type: disc;}
.dnb-goals > li {width: 60.9vw;}