<template id="tmp-comp-form-land">
    <div class="ui modal" style="width: 344px;">
        <i class="close icon" @click.stop="onExitClose"></i>
        <div class="header">Edit Land</div>
        <div class="image content">
            <div class="description">
                <strong class="d-inline-block w81px py-2 pe-2">Name: </strong>
                <span contenteditable="true" v-html="item.Name" 
                    class="d-inline-block p-2" style="width: 234px;"
                    @keypress="onKeyPressName"
                    @input="onChangeName"></span>
                <br>
                <strong class="d-inline-block w81px py-2 pe-2">Description: </strong>
                <span contenteditable="true" v-html="item.Description" 
                    class="d-inline-block p-2" style="width: 234px; height: 96px;"
                    @input="onChangeDes"
                    style="min-height: 180px; width: 570px;"></span>
                <br>
                <label class="d-inline-block w81px py-2 pe-2"
                    :for="'chbx-isnew-land-' + item.Id">Is New *</label><input 
                    type="checkbox" 
                    :id="'chbx-isnew-land-' + item.Id"
                    v-model="item.IsNew" />
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" 
                @click.stop="onExitClose">Cancel</div>
            <div class="ui positive right labeled icon button" 
                @click.stop="onSaveClose">Save And Close<i
                class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>
<section id="app-modal">
    <component v-if="$store.getters.moItem"
            :is="$store.getters.moItem.type"></component>
    
    
    <!-- <comp-modal v-if="$store.getters.moItem">
        <template #xbtn="{ onexit }">
            <i class="close icon" @click.stop="onexit"></i>
        </template>
        <template #context="{ mitem, changedes }">
            <div class="header">{{mitem.header}}</div>
            <div class="image content">
                <div class="ui medium image">
                    <img :src="mitem.img" style="border-radius: 8px;">
                </div>
                <div class="description">
                    <div class="ui header">{{mitem.content.head}}</div>
                    <p contenteditable="true" v-html="mitem.content.description" @input="changedes"
                        style="min-height: 180px; width: 570px;"></p>
                </div>
            </div>
        </template>
        <template #confirmno="{ onexit }">
            <div class="ui black deny button" @click.stop="onexit">Nope</div>
        </template>
        <template #confirmyes="{ onsave }">
            <div class="ui positive right labeled icon button" @click.stop="onsave">Yep, that's me<i
                    class="checkmark icon"></i>
            </div>
        </template>
    </comp-modal> -->
</section>
<template id="tmp-comp-modal">
    <div class="ui modal edit-user">
        <!-- <slot name="xbtn" :onexit="onExitClose"></slot> -->
        <i class="close icon" @click.stop="onExitClose"></i>

        <!-- <slot name="context" :mitem="MItem" :changedes="onChangeDes"></slot> -->
        <div class="header">{{MItem.header}}</div>
        <div class="image content">
            <div class="ui medium image">
                <img :src="MItem.img" style="border-radius: 8px;">
            </div>
            <div class="description">
                <div class="ui header">{{MItem.content.head}}</div>
                <p contenteditable="true" v-html="MItem.content.description" 
                    @input="onChangeDes"
                    style="min-height: 180px; width: 570px;"></p>
            </div>
        </div>
        <div class="actions">
            <!-- <slot name="confirmno" :onexit="onExitClose"></slot> -->
            <div class="ui black deny button" @click.stop="onExitClose">Nope</div>

            <!-- <slot name="confirmyes" :onsave="onSaveClose"></slot> -->
            <div class="ui positive right labeled icon button" 
                @click.stop="onSaveClose">Yep, that's me<i
                class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>