<template id="tmp-comp-form-land">
    <div class="ui modal" style="width: 344px;">
        <i class="close icon" @click.stop="onExitClose"></i>
        <div class="header">{{Title}}</div>
        <div class="image content">
            <div class="description">
                <strong class="d-inline-block w81px py-2 pe-2">Name: </strong>
                <span contenteditable="true" v-html="item.Name" 
                    class="d-inline-block p-2" style="width: 234px;"
                    @keypress="onKeyPressName"
                    @input="onChangeName"></span>
                <br>
                <strong class="d-inline-block w81px py-2 pe-2">Description: </strong>
                <span contenteditable="true" v-html="item.Description" 
                    class="d-inline-block p-2" style="width: 234px; height: 96px;"
                    @input="onChangeDes"
                    style="min-height: 180px; width: 570px;"></span>
                <br>
                <label class="d-inline-block w81px py-2 pe-2"
                    :for="'chbx-isnew-land-' + item.Id">Is New *</label><input 
                    type="checkbox" 
                    :id="'chbx-isnew-land-' + item.Id"
                    v-model="item.IsNew" />
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" 
                @click.stop="onExitClose">Cancel</div>
            <div class="ui positive right labeled icon button" 
                @click.stop="onSaveClose">Save And Close<i
                class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>
<template id="tmp-comp-form-valuation">
    <div class="ui modal">
        <div class="header">{{$store.getters.txtLang.Valuation}}</div>
        <div class="content" style="flex-direction: column;">
            <div class="d-flex" style="justify-content: space-between;">
                <h1>{{moItem.path}}</h1>
                <span @click.stop="toggleActive" style="cursor: default;"
                    ><i class="bi" :class="item.Active ? 'bi-check2-square' : 'bi-square'"
                    ></i> {{$store.getters.txtLang.Active}}</span>
            </div>
            <div class="description">
                <div class="d-flex my-3">
                    <button class="me-2">New</button>
                    <button class="me-2">Update</button>
                    <button class="me-2">Delete</button>
                    <span class="me-2">Dropdown</span>
                    <button>Import template</button>
                </div>
                <div class="d-grid row-crite">
                    <strong>{{$store.getters.txtLang.Criteria}}</strong>
                    <strong>{{$store.getters.txtLang.Weighting}}</strong>
                    <strong>{{$store.getters.txtLang.Valuation}}</strong>
                    <span></span>
                </div>
                <div v-for="(cri, ci) in item.Criterias" 
                    class="d-grid row-crite">
                    <span>{{cri.Name}}</span>
                    <drop-select :name="cri.Weight.toString()" :items="Weights" 
                        @set:index="$event => setWeight(cri, $event)"
                        style="min-width: 96px;max-width: 96px;">
                        <template #default>
                            <div class="text">{{cri.Weight}}</div>
                        </template>
                    </drop-select>
                    <s-range :start="cri.Value" :style="{ width: '366px' }"
                        @set:value="$event => setValue(cri, $event)"></s-range>
                    <span @click.stop="e => deleteCriteria(ci)">Delete</span>
                </div>
                <div class="d-grid row-crite">
                    <strong @click.stop="newCriteria">+ Criteria</strong>
                    <strong>Total: {{TotalValue}}</strong>
                </div>
            </div>
            <div>
                Comments:
                <div contenteditable="true" v-html="item.Comment" 
                    @input="editComment"
                    style="min-height: 90px;"></div>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" 
                @click.stop="onSaveClose">Save And Close<i
                class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>
<template id="tmp-comp-mess-newland">
    <div class="ui modal" style="width: 460px;">
        <div class="header">{{moItem.title}}</div>
        <div class="content">
            <div class="description"></div>
        </div>
        <div class="actions">
            <div class="ui black deny button" 
                @click.stop="onExitClose">Reset Filter Land</div>
            <div class="ui positive right labeled icon button" 
                style="padding-right: 21px !important;"
                @click.stop="onSaveClose">Filter Contain New Land</div>
        </div>
    </div>
</template>
<template id="tmp-comp-form-region">
    <div class="ui modal" style="width: 344px;">
        <i class="close icon" @click.stop="onExitClose"></i>
        <div class="header">{{Title}}</div>
        <div class="image content">
            <div class="description">
                <strong class="d-inline-block w81px py-2 pe-2">Name: </strong>
                <span style="position: relative;">
                    <span contenteditable="true" 
                        v-html="item.Name" 
                        class="d-inline-block p-2 dnbRegionName" 
                        data-content="Duplicate name"
                        style="width: 234px;"
                        @keypress="onKeyPressName"
                        @input="onChangeName"></span>
                </span>
                <br>
                <strong class="d-inline-block w81px py-2 pe-2">Description: </strong>
                <span contenteditable="true" v-html="item.Description" 
                    class="d-inline-block p-2" style="width: 234px; height: 96px;"
                    @input="onChangeDes"
                    style="min-height: 180px; width: 570px;"></span>
                <br>
                <strong class="d-inline-block w81px py-2 pe-2">Land*</strong>
                <drop-select :f-id="moItem.data.LandId" 
                    :items="LandActives" 
                    @set:index="$event => setLandInActive($event)"
                    :class="['grp-dropdown-min']">
                    <template #default>
                        <div class="text">{{LandActiveName}}</div>
                    </template>
                </drop-select>
                <br>
                <strong v-if="moItem.type == 'comp-form-region'"
                    class="d-inline-block w81px py-2 pe-2">Currency*</strong>
                <drop-select v-if="moItem.type == 'comp-form-region'"
                    :name="moItem.data.Currency" 
                    :items="Currencies" 
                    @set:index="$event => setCurrency($event)"
                    style="min-width: 96px;max-width: 96px;">
                    <template #default>
                        <div class="text">{{moItem.data.Currency}}</div>
                    </template>
                </drop-select>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" 
                @click.stop="onExitClose">Cancel</div>
            <div class="ui positive right labeled icon button" 
                @click.stop="onSaveClose">Save And Close<i
                class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>