<template id="tmp-comp-drop-select">
    <div class="ui selection dropdown" style="height: 38px;">
      <input type="hidden" name="drp-select" :value="index">
      <i class="dropdown icon"></i>
      <slot name="default"></slot>
      <div class="menu">
        <!-- <slot name="item" 
          :items="items" 
          active="active selected" 
          :index="index"></slot> -->
          <div v-for="(item, ii) in items" class="item" 
          :class="[isActive(ii) ? 'active selected' : '']" 
          :data-value="ii">{{itemName(ii)}}</div>
      </div>
    </div>
</template>
<template id="tmp-comp-s-range">
  <div class="ui labeled range"></div>
</template>