<template id="tmp-comp-drop-select">
    <div class="ui selection dropdown" style="height: 38px;">
      <input type="hidden" name="drp-select" :value="index">
      <i class="dropdown icon"></i>
      <slot name="default"></slot>
      <div class="menu">
          <div v-for="(item, ii) in items" class="item" 
          :class="[isActive(ii) ? 'active selected' : '']" 
          :data-value="ii">{{itemName(ii)}}</div>
      </div>
    </div>
</template>
<template id="tmp-comp-s-range">
  <div class="ui labeled range" :style="style"></div>
</template>
<template id="tmp-comp-drop-selection">
  <div class="ui selection dropdown" style="height: 38px;">
    <input type="hidden" :name="name" :value="id">
    <i class="dropdown icon"></i>
    <div class="text">{{SelectView}}</div>
    <div class="menu">
      <div v-for="(item) in items" 
        class="item" 
        :class="[id == item.Id ? 'active selected' : '']"
        :data-value="item.Id">{{item.Name}}</div>
    </div>
  </div>
</template>