<template id="tmp-khuvuc-hangxe-namsx">
    <div style="box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;
                background-color: rgb(255, 255, 255); border-radius: .75rem; padding: 1rem;"
        @click.stop="e => IsExpand = !IsExpand">
        <div style="display: grid; grid-template-columns: 266px 364px 184px; gap: 18px;">
            <div v-if="IsExpand" >
                <div style="font-weight: 600; margin-bottom: .5rem; color: rgb(27, 44, 93);">Khu vực</div>
                <div style="scrollbar-width: none;gap: 10px;display: flex;flex-wrap: wrap;">
                    <div class="wrap-local" @click.stop="e => selectIndex(-1, 1)"
                        :style="[
                            -1 == $root.IndexRegion ? { backgroundColor: 'rgb(255, 221, 0)' } : null
                        ]">Tất cả</div>
                    <div v-for="(local, ii) in LsRegion"
                        class="wrap-local" @click.stop="e => selectIndex(ii, 1)"
                        :style="[
                            ii == $root.IndexRegion ? { backgroundColor: 'rgb(255, 221, 0)' } : null
                        ]">{{local}}</div>
                    <div class="wrap-local" @click.stop="e => watchMore(1)">Xem thêm</div>
                </div>
            </div>
            <div v-else style="color: rgb(27, 44, 93);">
                <span style="font-weight: 600;">Khu vực:</span>
                <span style="margin-left: 6px;">{{TxtKhuVuc}}</span>
            </div>
            <div v-if="IsExpand">
                <div style="font-weight: 600; margin-bottom: .5rem; color: rgb(27, 44, 93);">Hãng xe</div>
                <div style="scrollbar-width:none; gap: 32px; display: flex; flex-wrap: wrap;">
                    <div class="wrap-brand" @click.stop="e => selectIndex(-1, 2)">
                        <button class="btn-more" 
                        :style="[
                            -1 == $root.IndexBrand ? { backgroundColor: 'rgb(255, 221, 0)' } : null
                        ]"><span class="txt-plus">All</span></button>
                        <div class="txt-more">Tất cả</div>
                    </div>
                    <div v-for="(brand, ii) in LsBrand"
                        class="wrap-brand"
                        @click.stop="e => selectIndex(ii, 2)">
                        <div class="wrap-logo" :style="[
                                ii == $root.IndexBrand ? { backgroundColor: 'rgb(255, 221, 0)' } : null
                            ]">
                            <img alt="Toyota" loading="lazy" width="128" height="128"
                                decoding="async" data-nimg="1" class="img-logo"
                                :src="brand[1] + '?image_process=format,webp/resize,w_256'">
                        </div>
                        <div class="brand-name">{{brand[0]}}</div>
                    </div>
                    <div class="wrap-brand" @click.stop="e => watchMore(2)">
                        <button class="btn-more"><span class="txt-plus">+</span></button>
                        <div class="txt-more">Xem thêm</div>
                    </div>
                </div>
            </div>
            <div v-else style="color: rgb(27, 44, 93);">
                <span style="font-weight: 600;">Hãng xe:</span>
                <span style="margin-left: 6px;">{{TxtHangXe}}</span>
            </div>
            <div v-if="IsExpand">
                <div style="font-weight: 600; margin-bottom: .5rem; color: rgb(27, 44, 93);">Năm sản xuất</div>
                <div style="scrollbar-width: none; gap: 10px; display: flex; flex-wrap: wrap;">
                    <div class="wrap-year" @click.stop="e => selectIndex(-1, 3)"
                        :style="[
                            -1 == $root.IndexYear ? { backgroundColor: 'rgb(255, 221, 0)' } : null
                        ]">Tất cả</div>
                    <div v-for="(year, ii) in LsYear"
                        class="wrap-year" @click.stop="e => selectIndex(ii, 3)"
                        :style="[
                            ii == $root.IndexYear ? { backgroundColor: 'rgb(255, 221, 0)' } : null
                        ]">{{year}}</div>
                    <div class="wrap-year" @click.stop="e => watchMore(3)">Xem thêm</div>
                </div>
            </div>
            <div v-else style="color: rgb(27, 44, 93);">
                <span style="font-weight: 600;">Năm sản xuất:</span>
                <span style="margin-left: 6px;">{{TxtNamSx}}</span>
            </div>
        </div>
    </div>
</template>
<template id="tmp-mua-xe">
    <div>Mua bán xe ô tô giá tốt ưu đãi</div>
    <khuvuc-hangxe-namsx></khuvuc-hangxe-namsx>
    <div>Tổng: 580 xe đang bán</div>
    <div>
        <info-xe v-for="(xe, ii) in $root.LsXe" :xe="xe" :key="ii"></info-xe>
    </div>
</template>
<template id="tmp-info-xe">
    <div v-if="ShowBrand && ShowLocal" 
        style="height: 220px; flex-direction: row; 
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px; 
    display: inline-flex; margin-bottom: .75rem; overflow: hidden; border-radius: 8px; background-color: white;">
        <div style="display: inline-grid; grid-template-columns: 294px 600px;">
            <a :href="xe.Link" style="position: relative; color: inherit; text-decoration: inherit;">
                <img alt="" loading="lazy" width="640" height="480" decoding="async" data-nimg="1" 
                    :src="xe.XeImg + '?image_process=format,webp/resize,w_1920'" 
                    style="color: transparent;height: 220px;object-position: center;object-fit: cover;width: 100%;max-width: 100%;aspect-ratio: 4 / 3;display: block;">
                <div style="position: absolute; left: .5rem; top: .5rem; display: flex; align-items: center; gap: .5rem; border-radius: 999px; padding: .25rem .5rem; 
                    background-color: rgb(255, 221, 0); font-weight: 600;">
                    <img alt="" loading="lazy" width="22" height="20" decoding="async" data-nimg="1" 
                        src="https://carpla.vn/_next/static/media/clock.04ada91d.png" 
                        style="color: transparent;height: 16px;width: fit-content;max-width: 100%;display: block;">
                    <p style="margin: 0; font-size: .75rem; line-height: 1rem;">{{xe.Start}}</p>
                </div>
            </a>
            <div style="padding: 1rem;">
                <a :title="xe.Name" :href="xe.Link">
                    <h3 style="font-weight: 600; -webkit-line-clamp: 2; overflow: hidden; 
                        display: -webkit-box; -webkit-box-orient: vertical; margin: 0;">{{xe.Name}}</h3>
                </a>
                <div style="align-items: center; flex-direction: row; gap: .5rem; display: flex;">
                    <p style="color: rgb(239, 68, 68); font-weight: 700; font-size: 1.125rem; line-height: 1.75rem; margin: 0;">{{xe.Price}}&nbsp;đ</p>
                    <p style="color: rgb(173, 173, 173); font-size: 12px; margin: 0;">{{xe.TraGop}}</p>
                </div>
                <div style="display: grid; color: rgb(75, 85, 99); font-size: .875rem; line-height: 1.25rem; row-gap: .5rem; column-gap: 1rem; 
                    grid-template-columns: repeat(2, minmax(0, 1fr)); margin-top: .75rem;">
                    <div style="color: rgb(49, 54, 71);text-overflow: ellipsis;overflow: hidden;white-space: nowrap;gap: .25rem;align-items: center;display: flex;">
                        <img alt="icon" loading="lazy" width="12" height="12" decoding="async" data-nimg="1" 
                            src="https://carpla.vn/_next/static/media/CarSimple.7d696784.svg" 
                            style="color: transparent;width: 1rem;max-width: 100%;height: auto;display: block;vertical-align: middle;"> {{xe.ChoNgoi}}</div>
                    <div style="color: rgb(49, 54, 71);text-overflow: ellipsis;overflow: hidden;white-space: nowrap;gap: .25rem;align-items: center;display: flex;">
                        <img alt="icon" loading="lazy" width="12" height="12" decoding="async" data-nimg="1" 
                            src="https://carpla.vn/_next/static/media/GasPump.14336139.svg" 
                            style="color: transparent;width: 1rem;max-width: 100%;height: auto;display: block;vertical-align: middle;"> {{xe.NhienLieu}}</div>
                        <div style="color: rgb(49, 54, 71);text-overflow: ellipsis;overflow: hidden;white-space: nowrap;gap: .25rem;align-items: center;display: flex;">
                            <img alt="icon" loading="lazy" width="12" height="12" decoding="async" data-nimg="1" class="w-4" 
                                src="https://carpla.vn/_next/static/media/Faders.99b87a95.svg" 
                            style="color: transparent;"> {{xe.LoaiXe}}</div>
                        <div style="color: rgb(49, 54, 71);text-overflow: ellipsis;overflow: hidden;white-space: nowrap; gap: .25rem;align-items: center;display: flex;">
                            <img alt="icon" loading="lazy" width="12" height="12" decoding="async" data-nimg="1" 
                                src="https://carpla.vn/_next/static/media/Location.fad33090.svg" 
                                style="color: transparent;width: 1rem;max-width: 100%;height: auto;display: block;vertical-align: middle;"> {{xe.Location}}</div>
                        <div style="color: rgb(49, 54, 71);text-overflow: ellipsis;overflow: hidden;white-space: nowrap;gap: .25rem;align-items: center;display: flex;">
                            <img alt="icon" loading="lazy" width="12" height="12" decoding="async" data-nimg="1" 
                                src="https://carpla.vn/_next/static/media/Gauge.66870c00.svg" 
                                style="color: transparent;width: 1rem;max-width: 100%;height: auto;display: block;vertical-align: middle;"> {{xe.QuangDuong}}</div>
                        <div style="color: rgb(49, 54, 71);text-overflow: ellipsis;overflow: hidden;white-space: nowrap;gap: .25rem;align-items: center;display: flex;">
                            <img alt="icon" loading="lazy" width="12" height="12" decoding="async" data-nimg="1" 
                                src="https://carpla.vn/_next/static/media/Frame.7103cf2a.svg" 
                                style="color: transparent;width: 1rem;max-width: 100%;height: auto;display: block;vertical-align: middle;"> {{xe.LoaiBien}}</div>
                </div>
            </div>
        </div>
        <div style="width: 280px; padding: 1rem; border-left-width: 1px; justify-content: space-between; flex-direction: column; flex-shrink: 0; display: flex;">
            <div class="" style="gap: .5rem; justify-content: center; flex-direction: column; height: 100%; display: flex;">
                <div style="align-items: center; flex-direction: column; gap: .5rem; justify-content: space-between; display: flex;">
                    <div style="display: flex; align-items: center;">
                        <img alt="" loading="lazy" width="160" height="160" decoding="async" data-nimg="1" 
                            :src="xe.GaraImg + '?image_process=format,webp/resize,w_384'" 
                            style="color: transparent;object-position: center;object-fit: cover;border-radius: 9999px;flex-shrink: 0;width: 32px;height: 32px;
                            margin-right: .5rem;max-width: 100%;display: block;vertical-align: middle;">
                        <a :href="xe.GaraLink" style="color: rgb(27, 44, 93); font-weight: 600; font-size: .875rem; line-height: 1.25rem; 
                            gap: .25rem; align-items: center; margin-right: .25rem; display: flex; -webkit-line-clamp: 1; 
                            overflow: hidden; -webkit-box-orient: vertical; text-decoration: inherit;">{{xe.GaraName}}</a>
                        <img alt="UserCarItem" loading="lazy" width="18" height="19" decoding="async" data-nimg="1" 
                            src="https://carpla.vn/_next/static/media/CarplaCer.e910097d.png" 
                            style="color: transparent;width: fit-content;height: 20px;max-width: 100%;display: block;vertical-align: middle;">
                    </div>
                    <div style="margin-top: .5rem; font-size: .875rem; line-height: 1.25rem; gap: 1rem; justify-content: center; display: flex; 
                        margin-bottom: 1rem; color: rgb(75, 85, 99);">
                        <div>
                            <p style="font-size: 12px;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin: 0;"
                            >Đang bán<br> <span style="font-weight: 700;font-size: 1.125rem;line-height: 1.75rem;">{{xe.DangBan}}</span></p>
                        </div>
                        <div>
                            <p style="font-size: 12px;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin: 0;"
                            >Đã bán<br> <span style="font-weight: 700;font-size: 1.125rem;line-height: 1.75rem;">{{xe.DaBan}}</span></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="gap: .5rem; align-items: center; display: flex; margin-bottom: 0.5rem;">
                        <img alt="" loading="lazy" width="16" height="17" decoding="async" data-nimg="1" 
                            src="https://carpla.vn/_next/static/media/location_on.f2f84e8e.svg" 
                            style="color: transparent;object-fit: cover;flex-shrink: 0;height: 20px;max-width: 100%;display: block;vertical-align: middle;">
                        <p style="line-height: 1.25rem;font-size: .875rem;gap: .25rem;align-items: center;display: flex;margin: 0;">{{xe.Location}}</p>
                    </div>
                    <div style="justify-content: space-between; display: flex;">
                        <a href="#" target="_blank" rel="nofollow" style="gap: .5rem; align-items: center; user-select: none; cursor: pointer; display: flex; 
                        color: inherit; text-decoration: inherit;">
                            <img alt="" loading="lazy" width="50" height="50" decoding="async" data-nimg="1" 
                                src="https://carpla.vn/_next/static/media/Icon_of_Zalo.74a531e9.png" 
                            style="color: transparent;object-fit: contain;flex-shrink: 0;width: fit-content;height: 18px;max-width: 100%;display: block;vertical-align: middle;">
                            <p style="gap: .25rem; font-size: .875rem; line-height: 1.25rem; align-items: center; display: flex; margin: 0;">Chat</p>
                        </a>
                        <a href="tel:0825355355" target="_blank" rel="nofollow" style="gap: .5rem; align-items: center; user-select: none; 
                            display: flex; color: inherit; text-decoration: inherit;">
                            <img alt="" loading="lazy" width="30" height="31" decoding="async" data-nimg="1" 
                                src="https://carpla.vn/_next/static/media/phone.8a6a5c49.png" 
                                style="color: transparent;object-fit: cover;flex-shrink: 0;width: fit-content;height: 20px;max-width: 100%;vertical-align: middle;display: block;">
                            <p style="gap: .25rem; font-size: .875rem; line-height: 1.25rem; align-items: center; display: flex; margin: 0;">{{xe.Contact}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
</template>