<!DOCTYPE html>
<html>

<head>
  <title>Exercise Vue3</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./main-style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/vuex@4.1.0/dist/vuex.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
  <main id="app" v-cloak>
    <header class="p-3 bg-primary">
      <nav class="container-fluid d-inline-flex justify-content-start align-items-center">
        <div class="d-inline-flex justify-content-start align-items-center grp-logo">
          <i class="bi bi-bootstrap-fill me-2 font24 cpointer text-white"></i>
          <h2 class="me-3 my-0 text-white">Marketing</h2>
        </div>
        <div class="d-inline-flex justify-content-start align-items-center me-3 grp-prj">
          <drop-select :index="IProject" :items="projects" :class="['grp-dropdown-min']"
            @set:index="$event => setIndexProject($event)">
            <template #default>
              <div class="text">{{projects[IProject].Name}}</div>
            </template>
            <template #item="{ items, index, active }">
              <div v-for="(item, ii) in items" class="item" :class="[item.Id == items[index].Id ? active : '']"
                :data-value="ii">{{item.Name}}</div>
            </template>
          </drop-select>
        </div>
        <div class="d-inline-flex justify-content-start align-items-center me-3 grp-lang">
          <h4 class="text-white mb-0 me-1">Language: </h4>
          <drop-select :index="ILang" :items="languages" :class="['grp-dropdown-min']" style="min-width: 120px;"
            @set:index="$event => setIndexLang($event)">
            <template #default>
              <div class="text">{{languages[ILang].Name}}</div>
            </template>
            <template #item="{ items, index, active }">
              <div v-for="(item, ii) in items" class="item" :class="[item.Key == items[index].Key ? active : '']"
                :data-value="ii">{{item.Name}}</div>
            </template>
          </drop-select>
        </div>
        <div class="d-inline-flex justify-content-start align-items-center grp-options">
          <i class="bi bi-folder-fill me-3 font24 cpointer text-white"></i>
          <i class="bi bi-question-square-fill font24 cpointer text-white"></i>
          <i class="bi bi-gear-fill font24 mx-3 cpointer text-white"></i>
          <i class="bi bi-person-circle font24 cpointer text-white"></i>
        </div>
      </nav>
    </header>
    <nav class="d-flex p-2">

      <div class="d-inline-grid">

      </div>

    </nav>
    <section style="margin-bottom: 9px;">{{message}}</section>
    <compnav></compnav>

    <drop-select :index="UserAssign" :items="Users" @set:index="$event => setUserAssign($event)">
      <template #default>
        <div class="default text">Assign</div>
      </template>
      <template #item="{ items, index, active }">
        <div v-for="item in items" class="item" :class="[item == index ? active : '']" :data-value="item">{{item}}</div>
      </template>
    </drop-select>

  </main>
  <template id="tmp-comp-drop-select">
    <div class="ui selection dropdown" style="height: 38px;">
      <input type="hidden" name="drp-select" :value="index">
      <i class="dropdown icon"></i>
      <slot name="default"></slot>
      <div class="menu">
        <slot name="item" :items="items" active="active selected" :index="index"></slot>
      </div>
    </div>
  </template>
  <template id="tmp-comp-nav">
    <button @click="upCount">Clicked {{ count }} {{1 == count ? 'time' : 'times'}}.</button>
    <button @click="resetCount" style="margin-left:9px;">Reset Count</button>
    <div>
      <button @click="openModal" style="margin-left:9px;">Open modal</button>
    </div>
  </template>
  <section id="app-modal">
    <comp-modal v-if="OriginItem">
      <template #xbtn="{ onexit }">
        <i class="close icon" @click.stop="onexit"></i>
      </template>
      <template #context="{ item }">
        <div class="header">{{item.header}}</div>
        <div class="image content">
          <div class="ui medium image">
            <img :src="item.img">
          </div>
          <div class="description">
            <div class="ui header">{{item.description.head}}</div>
            <p contenteditable="true">{{item.description.content}}</p>
          </div>
        </div>
      </template>
      <template #confirmno="{ onexit }">
        <div class="ui black deny button" @click.stop="onexit">Nope</div>
      </template>
      <template #confirmyes="{ onsave }">
        <div class="ui positive right labeled icon button" @click.stop="onsave">Yep, that's me<i
          class="checkmark icon"></i>
      </div>
      </template>
    </comp-modal>
  </section>
  <template id="tmp-app-modal">
    <div class="ui modal">
      <slot name="xbtn" :onexit="onExitClose"></slot>
      <slot name="context" :item="MItem"></slot>
      <div class="actions">
        <slot name="confirmno" :onexit="onExitClose"></slot>
        <slot name="confirmyes" :onsave="onSaveClose"></slot>
      </div>
    </div>
  </template>
  <script type="module" src="main-app.js"></script>

</body>

</html>