button { cursor: pointer; }
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
.container-fluid {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
.ui.positive.button, .ui.positive.buttons .button { background-color: #a6a6a6; } /*dnb_dev */
.ui.primary.button, .ui.primary.buttons .button,
.ui.positive.button:hover, .ui.positive.buttons .button:hover,
.ui.primary.button:hover, .ui.primary.buttons .button:hover {background-color: #606060;} /*dnb_dev */
.d-inline-block { display: inline-block; }
.d-grid { display: grid; }
.d-inline-grid { display: inline-grid; }
.d-flex { display: flex; }
.d-inline-flex { display: inline-flex; }
.justify-content-start { justify-content: flex-start; }
.justify-content-cent { justify-content: center; }
.align-items-center { align-items: center; }
.aln-ctn-center { align-content: center; }
.bg-primary { 
    background-color: #008ff8; 
    background-color: #bbb; /*dnb_dev */
}
.border-box { box-sizing: border-box; }
.dnbdropdown-primary.ui.selection.dropdown {
    background-color: #0080dd; border-color: #0080dd;
    color: white;
    background-color: #bcbcbc; border-color: #3c3c3c; /*dnb_dev */
}
.ui.dropdown>.text {
    max-width: 150px; white-space: pre;
    overflow: hidden; text-overflow: ellipsis;
}
.ui.dropdown>div.text {height: 18px;}
.dnbdropdown-primary.ui.selection.visible.dropdown>.text:not(.default) {
    color: white;
}

.dnbdropdown-primary.ui.selection.active.dropdown .menu {
    border-color: #008ff8; background-color: #008ff8; 
    border-color: #565656; background-color: #565656; /*dnb_dev */
}

.dnbdropdown-primary.ui.selection.dropdown .menu>.item {
    border-color: #008ff8; color: white;
    border-color: #565656; /*dnb_dev */
}

.dnbdropdown-primary.ui.active.selection.dropdown {
    background-color: #008ff8; border-color: #008ff8; 
    background-color: #565656; border-color: #565656; /*dnb_dev */
}

.me-3 { margin-right: 1rem; }
.me-2 { margin-right: .5rem; }
.mx-2 { margin-left: .5rem; margin-right: .5rem; }
.me-1 { margin-right: .25rem; }
.m-2 { margin: .5rem; }
.mt-2 { margin-top: .5rem; }
.mb-2 { margin-bottom: .5rem; }
.mb1px { margin-bottom: 1px; }
.my-2 { margin-top: .5rem; margin-bottom: .5rem; }
.mt-3 { margin-top: 1rem; }
.mb-3 { margin-bottom: 1rem; }
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.mx-3 {
    margin-right: 1rem;
    margin-left: 1rem;
}
.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mb-0 { margin-bottom: 0; }
.px22px {padding-left: 22px; padding-right: 22px;}
.p-1 {padding: .25rem}
.py-1 { padding-top: .25rem; padding-bottom: .25rem; }
.p-2 { padding: .5rem; }
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.ps-2 { padding-left: .5rem; }
.pe-2 { padding-right: .5rem; }
.p-3 { padding: 1rem; }
.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ps-3 { padding-left: 1rem; }
.pe-3 { padding-right: 1rem; }
.p6px { padding: 6px; }
.pe48px { padding-right: 48px; }
.px20px { padding-left: 20px; padding-right: 20px; }
.text-white { color: white; }
.font24 { font-size: 24px; }
.font12 { font-size: 12px; }
.text-center { text-align: center; }
.w81px { width: 81px; }
.w344px { width: calc(344px - 30px); }
.list-sub { width: calc(100% - 344px + 30px); }
.list-task { width: calc(100% - 344px + 30px - .5rem); }
.dnb-nav {
    background-color: #006bb9; height: 30px;
    background-color: #b1b1b1; /*dnb_dev */
}
.h42 { height: 42px; }
.h32 {height: 32px;}
.dnb-nav>* { color: #66b8ff; }
.dnb-nav>* { color: #9b9b9b; } /*dnb_dev */
.dnb-nav>*:hover { color: #ddefff; }
.dnb-nav>*:hover { color: #c9c9c9; }  /*dnb_dev */
.dnb-nav>*.working { color: white; }
.cpointer { cursor: pointer; }
.cdefault {cursor: default;}
.dapp-header {justify-content: space-between;}

.grp-dropdown-min.ui.selection.dropdown {
    min-height: 30px;
    max-height: 30px;
    padding-top: 7px;
    padding-bottom: 0;
}

.grp-dropdown-min.ui.selection.dropdown>.dropdown.icon {
    padding-top: 8px;
    padding-bottom: 5px;
}

.edit-user.ui.modal.transition.visible.active {
    width: 954px;
    height: 618px;
}
.pos-relative {position: relative;}
.pos-absolute {position: absolute;}
.stick-top0 { position:sticky; top: 0 }
.cell-valuation {
    display: inline-grid;
    grid-template-columns: 141px 24px 24px;
    height: 30px; 
    width: 100%;
    align-items: center;
}
.border-4px {border-radius: 4px;}
.border-l6px { border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
.border-r6px { border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.border-u6px { border-top-left-radius: 6px; border-top-right-radius: 6px; }
.border-d6px { border-bottom-left-radius: 6px; border-bottom-right-radius: 66x; }
.border-6px {border-radius: 6px;}
.fb700 {font-weight: 700;}
.col-market { width: 294px; min-width: 294px; max-width: 294px; }
.col-region { width: 204px; min-width: 204px; max-width: 204px; }
.list-task {border: 3px solid #f3f3f3;}
.cell-valuation:hover {
    background-color: #c1c1c1;
}
.dflex-col {flex-direction: column;}
.dflex-row {flex-direction: row;}
.menu-valuation {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    width: 220px;
    background-color: #1b83c9; color: white;
    background-color: #868686;  /*dnb_dev */
}

.menu-valuation>*:hover {
    background-color: #0f3551;
    background-color: #808080;  /*dnb_dev */
}
.menu_golsub {
    position: fixed; top: 0; left: 0;min-width: 180px;min-height: 90px;
}
.menu_golsub-i {color:white;background-color: #acacac;}
.menu_golsub-i:hover {background-color: #acacac82;}
.row-crite {
    grid-template-columns: 300px 105px 366px 54px;
    align-items: center;
    margin-bottom: 9px;
}

.bg-008ff8 {
    background-color: #008ff8; color: white;
    background-color: #f3f3f3; color: #565656;  /*dnb_dev */
}
.bg-006bb9 {
    background-color: #006bb9; color: white;
    background-color: #d6d6d6; color: #2d2d2d;  /*dnb_dev */
}
.bg-e8e9e9 {background-color: #e8e9e9;}
.row-crite .ui.selection.dropdown {
    min-width: 96px;
    max-width: 96px;
    padding: 6px 8px;
    min-height: 30px;
    max-height: 30px;
}
.row-crite .ui.selection.dropdown>.dropdown.icon { padding-top: 7px; }
.row-crite .ui.selection.dropdown .menu>.item { padding: 8px !important;}
.border-r1-0384e3 { border-right: 1px solid #0384e3; }
.border-r1-0384e3 { border-right: 1px solid #6f6f6f; }   /*dnb_dev */
.border-e8e9e9 { border: 1px solid #e8e9e9; }
.border-r1-e8e9e9 { border-right: 1px solid #e8e9e9; }
.border-b1-e8e9e9 { border-bottom: 1px solid #e8e9e9; }
.vw-marketsegment .col-region .dnd-ic-region,
.vw-marketsegment .row-market .col-market .dnd-ic-market {
    display: none;
    right: 27px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}
.vw-marketsegment .col-region:hover .dnd-ic-region,
.vw-marketsegment .row-market .col-market:hover .dnd-ic-market {
    display: initial;
}
.btn-menu-valuation { text-align: center;}
.btn-menu-inbtn { text-align: center; padding:3px; margin-right: 2px; }
.vw-marketsegment .col-region:hover .dnd-ic-region:hover,
.btn-menu-valuation:hover,
.btn-menu-inbtn:hover,
.vw-marketsegment .row-market .col-market:hover .dnd-ic-market:hover {
    border-radius: 4px;
    cursor: pointer;
    color:white;
    background-color: #006bb9;
    background-color: #656565;  /*dnb_dev */
}
.dnd_view:hover > * { opacity: 0.69}
.dnd_view .dnd_market_y:hover,
.dnd_view .dnd_region_x { opacity: 1; }
.dnd_view .dnd_market_y:hover > *,
.dnd_view .dnd_region_x:hover > * { 
    box-sizing: border-box;
    border: 1px solid red; 
}
.dnd_view .dnd_market_y:hover > * { border-right: none; border-left: none; }
.dnd_view .dnd_region_x:hover > * { border-top: none; border-bottom: none; }
.dnd_view .dnd_market_y:hover > *:first-child {border-left: 1px solid red;}
.dnd_view .dnd_market_y:hover > *:last-child {border-right: 1px solid red;}
.dnd_view .dnd_region_x:hover > *:first-child {border-top: 1px solid red;}
.dnd_view .dnd_region_x:hover > *:last-child {border-bottom: 1px solid red;}

.dnb-arrow {
    width: 0; height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(213, 213, 213);
    transform: translateX(3px);
}
.dnb-tlp, .dnb-menu { position: fixed;display: inline-block; }
.dnb-tlp-body {
    padding: 9px 12px; border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.dnbcol-market { padding-top: 42px; min-width: 424px; min-height: 164px; }
.dnbcel-market {
    width: 424px; min-height: 42px;
    grid-template-columns: 180px auto;
}
.dnb-cel-submrk { min-height: 40px; }
.dnb-cel-smk-name {
    height:40px; 
    border-left: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}
.dnb-cel-smk-name:last-child {border-block-color: transparent;}
.dnbrow-prd {width: 204px;}
.dnbborder217 { border: 1px solid rgb(217, 217, 217); }
.dnbcel-prdname { height: 42px; }
.dnbcol-prdmarket { width: 100%; min-height: 42px; }
.dnb-cell-prd-submrk {
    height:40px; width: 100%;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
}
.dnb-cell-prd-submrk > .cell-submk-prd-empty { display: none;height: 100%; }
.dnb-cell-prd-submrk:hover > .cell-submk-prd-empty {
    display: block; background-color: rgb(128, 128, 128);
}
.cell-submk-prd {background-color: #d1d1d1;}
.cell-smprd-content {
    grid-template-columns: 168px 24px;
    height: 32px;
    align-items: center;
    text-align: center;
}
.minh87px { min-height: 87px; }
.wrp_menu {
    position: absolute;
    top: 0; right: -3px;
    cursor: pointer;
    background-color: #00000069; color: white;
    padding: 5px; border-radius: 6px;
    display: none;
}
.wrap-info:hover .wrp_menu { display: block;}
@media screen and (max-width: 558px) {
    nav.container-fluid {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 430px) {
    nav.container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

}
