<section class="dnb-maingoal-wrap border m-2">
    <div class="d-flex ps-2">
        <span v-if="IsExpand" @click="onClickExpandCollapse">v</span>
        <span v-else @click="onClickExpandCollapse">></span>
        <div v-if="IsExpand" class="dnb-maingoal-expand d-flex ms-2">
            <div class="dnbMaingoalHandleDraggable">{{item.Name}}</div>
            <div class="ms-3">
                <draggable class="group-SubGoal" group="SubGoal"
                           v-bind:class="['mainDragDrop' + item.Id]"
                           handle=".dnbSubgoalHandleDraggable"
                           :list="Subgoals"
                           :move="onMoveCallback"
                           @change="handleSubgoalsChange">
                    <ViewSubGoal v-for="sub in Subgoals" 
                                 :key="'id-'+sub.Id" 
                                 :item="sub" />
                </draggable>
            </div>
        </div>
        <div v-else class="dnb-maingoal-collapse ms-2">
            <div class="dnbMaingoalHandleDraggable">{{item.Name}}</div>
        </div>
    </div>
</section>