<section class="dnb-subgoal-wrap border m-2">
    <div class="d-flex">
        <span v-if="IsExpand" @click="onClickExpandCollapse">v</span>
        <span v-else @click="onClickExpandCollapse">></span>
        <div v-if="IsExpand" class="dnb-subgoal-expand d-flex ms-2">
            <div class="dnbSubgoalHandleDraggable">{{item.Name}}</div>
            <div class="ms-3">
                List Action
            </div>
        </div>
        <div v-else class="dnb-subgoal-collapse ms-2">
            <div class="dnbSubgoalHandleDraggable">{{item.Name}}</div>
        </div>
    </div>
</section>