.dnb-dnd-items {

    .dnb-dnd-item,
    .dnb-dnd-item-ghost,
    .dnb-dnd-item-drag {
        cursor: pointer;
    }

    .dnb-dnd-item-drag {
        opacity: 1;
    }

    .dnb-dnd-item-ghost {
        background-color: #d8d8d891;
    }
}

.dnb-dnd-item {
    &+.dnb_add_action {
        display: none !important;
    }
}

.dnb-dnditem-relate {
    overflow: hidden !important;

    &.d_item_collapse {
        min-height: initial !important;
        max-height: initial !important;
    }
}