.dnb-dnd-items {

    .dnb-dnd-item,
    .dnb-dnd-item-ghost {
        cursor: pointer;
    }

    .dnb-dnd-item-ghost {
        background-color: #d8d8d891;
    }
}

.dnb-dnd-item {
    &+.dnb_add_action {
        display: none !important;
    }
}

.dnb_item_list_action.ui-sortable {
    .dnb_item_title {
        cursor: pointer !important;

        &>span {
            cursor: pointer !important;
        }
    }
}

.dnb_item_list_action {
    min-height: 27px;
}