$width: 279px;
$round: 9px;
$m3px: 3px;
$bgcolor: white;

.dnb_main_container {
    margin-top: $m3px;
    padding-bottom: 3 * $m3px;
}

.dnb_item_view {
    display: flex;
    margin-bottom: 2 * $m3px;

    .dnb_add_action {
        display: inline-flex;
        align-items: center;
        margin-left: $m3px;
        min-height: 90px;

        >div {
            height: 78px;
            background-color: $bgcolor;
            border-radius: $round;
            padding: 27px 33px;
        }
    }
}

.dnb_item_view:last-child {
    margin-bottom: 0;
}

.dnb_item_list_sub {
    display: grid;
    min-width: $width;

    .fb-loading {
        margin-top: $m3px;
        height: auto;
    }
}

$offst: 36px;

.dnb_item_list_action {
    width: calc(100vw - 2 * $width - $offst);
    display: flex;
    flex-wrap: wrap;
}

.dnb_item_container {
    display: inline-block;
    width: $width;
    min-width: $width;
    background-color: $bgcolor;
    padding: 6px 6px $m3px 6px;
    margin: $m3px $m3px 0 $m3px;
    box-sizing: border-box;
    border-radius: $round;

    .dnb_edit_name {
        width: calc(100% - 21px);
    }

    .dnb_item_title {
        cursor: pointer;
        margin-bottom: $m3px;
    }

    $hDes: 288px;

    .dnb_item_description {
        font-size: 12px;
        padding-top: $m3px;
        margin-bottom: $m3px;
        overflow: hidden;
        min-height: 10 * $m3px;
        max-height: $hDes;
        display: -webkit-box;
        -webkit-line-clamp: 18;
        -webkit-box-orient: vertical;

        >* {
            max-width: $width - 12px;
        }

        >img {
            display: -webkit-box;
            margin: 0 auto;
        }
    }

    .dnb_edit_des {
        width: 100%;
        resize: none;
        min-height: 159px;
        margin-left: 0px;
        margin-top: 2 * $m3px;
        max-height: $hDes + 120px;
    }

    .dnb_item_cost {
        display: grid;
        grid-template-columns: 50% 50%;

        .dnb_icost {
            font-weight: 600;

            .dnb_icost_value {
                font-weight: 400;
                margin-left: 9px;
            }
        }
    }

    .dnb_item_date {
        padding-top: 3px;
        display: flex;
        align-items: baseline;
        margin-top: 3px;
        cursor: default;

        .dnb_d_div {
            padding: 0 3px;
        }
    }

    &.dnb_item_done+.dnb_item_list_sub,
    &.dnb_item_done+.dnb_item_list_action {
        opacity: 0.51;

        .dnb_i_menu {
            pointer-events: none;
        }
    }

    &.fb-loading {
        &>* {
            opacity: 0;
        }
    }
}

.dnb_item_container.dnb_item_edit {
    .dnb_edit_start {
        width: $width - 173px;
    }

    .dnb_edit_end {
        width: $width - 174px;
    }
}

.dnb_item_done {
    >* {
        opacity: 0.3;
    }
}

.dnb_item_list_action {

    .dnb_item_container:last-child {
        height: -webkit-fill-available;
    }
}

.dnb_i_menu {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 9px;

    >* {
        margin: 3px 0;
    }
}

.dnb_i_options {
    padding-top: 6px;
    margin: 9px 0 6px 0;
    border-top: 1px solid #eeeeeecf;
    display: grid;
    grid-template-columns: 50% 50%;
}

.bi-layout-sidebar::before {
    transform: rotate(-90deg);
}

.dnb_ocost_negative,
.d_exp_less_true,
.dnb_past_date {
    color: red;
}

.o_50 {
    opacity: 0.5;
}

.o_81 {
    opacity: 0.81;
}

.dnb_add_main {
    display: inline-block;
    background-color: $bgcolor;
    width: $width;
    margin-left: $m3px;
    margin-top: $m3px;
    padding: 12px 2 * $m3px;
    border-radius: $round;
}

$wCost: 120px;
$wCollapse: 100%;
$fSizeCollp: 14px;
$wCalendar: 192px;
$wPC: $wCost + 6px;

.dnb_item_container.d_item_collapse {
    width: calc(100vw - 2 * $width - $offst - 6px);
    display: inline-grid;
    grid-template-columns: auto 2 * $wCost $wCalendar;
    padding-top: $m3px;
    align-content: center;

    .dnb_item_title {
        cursor: default;

        >span {
            cursor: pointer;
        }
    }

    .dnb_item_cost {
        font-size: $fSizeCollp;
    }

    .dnb_item_date {
        font-size: $fSizeCollp;
        margin-top: 0;
        padding-top: 0;
    }

    @-moz-document url-prefix() {
        .dnb_item_date {
            font-size: $fSizeCollp - 1px;
        }
    }
}

.dnb_item_view.dnb_sub_collapse {
    flex-direction: column;

    .dnb_item_container.d_item_collapse {
        width: calc(100vw - $width - $offst);
        display: inline-grid;
        grid-template-columns: auto 4 * $wCost $wCalendar;

        .dnb_item_title {
            display: inline-block;
        }

        .dnb_item_cost {
            display: inline-grid;
            grid-template-columns: $wCost $wCost $wCost $wCost;
            font-size: $fSizeCollp;
            margin-left: 0;
        }

        .dnb_item_date {
            display: inline-flex;
            padding-top: 0;
            margin-top: 0;
            font-size: $fSizeCollp;
        }

        @-moz-document url-prefix() {
            .dnb_item_date {
                font-size: $fSizeCollp - 1px;
            }
        }

        &+.dnb_item_list_action {
            flex-direction: column;
            width: calc(100vw - $width - $offst);

            .dnb_item_container {
                grid-template-columns: auto 2 * $wCost $wCalendar;
            }

            .dnb_item_title {
                padding-left: 9px;

                >span {
                    cursor: default;
                }
            }

            .dnb_item_cost {
                grid-template-columns: $wCost $wCost;
            }
        }
    }
}

.dnb_item_view.dnb_main_collapse {
    display: block;
    width: calc(100vw - $offst + 6px);
    padding-bottom: 5 * $m3px;

    .dnb_item_title {
        padding-right: 4 * $m3px;
    }

    &>.dnb_item_container.d_item_collapse {
        grid-template-columns: auto 2 * $wCost + 2 * $wPC $wCalendar;

        &>.dnb_item_cost {
            grid-template-columns: $wCost $wCost $wPC $wPC;
            max-width: initial;

            .dnb-expect-cost .dnb_icost_value,
            .dnb-true-cost .dnb_icost_value {
                font-weight: 700;
            }
        }

        &+.dnb_item_list_sub {
            &>.dnb_item_view {
                &>.d_item_collapse {
                    grid-template-columns: auto 2 * $wCost + 2 * $wPC $wCalendar;

                    &>.dnb_item_cost {
                        grid-template-columns: $wCost $wCost $wPC $wPC;
                        max-width: initial;

                        .dnb-expect-cost .dnb_icost_value,
                        .dnb-true-cost .dnb_icost_value {
                            font-weight: 600;
                            color: #999;
                        }
                    }
                }
            }
        }
    }

    .dnb_item_container {
        display: inline-grid;
        min-width: initial;
        width: $wCollapse;
        grid-template-columns: auto 4 * $wCost $wCalendar;
    }

    .dnb_item_cost {
        display: inline-grid;
        font-size: $fSizeCollp;
        grid-template-columns: $wCost $wCost $wCost $wCost;
        max-width: 4 * $wCost;
    }

    .dnb_item_date {
        display: inline-flex;
        font-size: $fSizeCollp;
        margin-top: 0;
    }

    @-moz-document url-prefix() {
        .dnb_item_date {
            font-size: $fSizeCollp - 1px;
        }
    }

    .dnb_item_container.d_item_collapse {

        &+.dnb_item_list_sub {
            display: block;
            max-width: initial;
            width: $wCollapse;
            min-width: initial;

            .dnb_item_title {
                padding-left: 9px;

                >span {
                    cursor: default;
                }
            }

            .dnb_item_view {
                display: block;
            }

            .dnb_item_description,
            .dnb_add_action,
            .dnb_i_options {
                display: none;
            }

            .dnb_item_list_action {
                display: block;
                width: $wCollapse;

                .dnb_item_container {
                    grid-template-columns: auto 2 * $wCost $wCalendar;
                }

                .dnb_item_title {
                    padding-left: 15px;

                    >span {
                        cursor: default;
                    }
                }

                .dnb_item_cost {
                    grid-template-columns: $wCost $wCost;
                }

            }

            .dnb_item_view.dnb_sub_collapse {
                .dnb_item_container.d_item_collapse {
                    width: calc(100vw - 90px);
                }
            }
        }
    }
}

.bi-layout-sidebar {
    cursor: pointer
}

.bi-layout-sidebar::before {
    transform: rotate(-90deg);
}

@media screen and (max-width: 1449px) {
    .dnb_item_container.d_item_collapse {
        display: block !important;

        .dnb_item_cost {
            display: inline-grid;
            grid-template-columns: $wCost $wCost;
        }

        .dnb_item_date {
            display: inline-block;
        }
    }

    .dnb_item_title {
        display: block !important;
    }

    .dnb_item_view.dnb_main_collapse .dnb_item_cost {
        grid-template-columns: 120px 120px 120px 120px;
        margin-left: 0;
    }
}

@media screen and (max-width: 1180px) {
    .dnb_item_view.dnb_main_collapse {
        width: calc(100vw - 6px);
    }

    .dnb_item_list_sub {
        width: calc(100vw - $width - 5px);
    }

    .dnb_item_view.dnb_sub_collapse .dnb_item_container.d_item_collapse {
        width: calc(100vw - $width - 12px);
    }

    .dnb_item_list_action {
        width: calc(100vw - 2 * $width - 12px);

        .dnb_item_container.d_item_collapse {
            width: calc(100vw - 2 * $width - 12px);
        }
    }

}

@media screen and (max-width: 918px) {
    .dnb_item_view.dnb_main_collapse {
        width: 100vw !important;
    }

    .dnb_item_container.d_item_collapse {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .dnb_item_list_action {
        width: 100% !important;
    }
}

@media screen and (max-width: 852px) {
    .dnb-wrap-2-sticky {
        position: sticky;
        top: 0;
    }
}

@media screen and (max-width: 675px) {
    .dnb_main_container {
        flex-direction: column;
    }

    .dnb_item_list_sub,
    .dnb_item_container.d_item_collapse {
        width: 100% !important;
    }
}

@media screen and (max-width: 642px) {
    .dnb_item_view {
        flex-direction: column;

        .dnb_item_view {
            margin-left: 6px;

            &.dnb_sub_collapse {
                margin-left: 0;
                width: 100vw;
            }

            .dnb_item_list_action .dnb_item_container {

                &.d_item_collapse {
                    margin-left: 0;
                }
            }
        }
    }

    .dnb_item_container .dnb_item_description>* {
        max-width: initial;
        width: 100%;
    }

    .dnb-wrap-2-sticky {
        position: sticky;
        top: 0;
    }
}

@media screen and (max-width: 540px) {
    .dnb_main_container>.dnb_item_container {
        margin-left: 0;
    }

    .dnb_item_container {
        width: 100%;
        margin-right: 0;
    }

    .dnb_item_list_sub>.dnb_item_view>.dnb_item_container {
        width: calc(100% - 3px);
    }
}

@media screen and (max-width: 480px) {
    .dnb_item_cost {
        grid-template-columns: 180px 180px !important;
    }
}