$round: 9px;
$m3px: 3px;
$bgcolor: white;
$navH: 48px;

.dnb-navbar {
    display: flex;
    height: $navH;
    background-color: $bgcolor;
    width: calc(100vw - 30px);
    margin: $m3px auto;
    border-radius: $round;
    align-items: center;

    box-shadow: 0 1px 6px 0px rgb(159 159 159 / 24%);
}

@keyframes fadeTopDown {
    0% {
        top: -$navH;
    }

    100% {
        top: 0;
    }
}

@keyframes fadeUp {
    0% {
        top: 0;
    }

    100% {
        top: -$navH;
    }
}

.dnNavFadeDwn {
    position: sticky;
    top: 0;
    z-index: 1;
    animation-name: fadeTopDown;
    animation-duration: 0.6s;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dnNavHideUp {
    position: sticky;
    animation-name: fadeUp;
    animation-duration: 0.36s;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@keyframes goalFadeDown {
    0% {
        top: 0;
    }

    100% {
        top: $navH + 6px;
    }
}

@keyframes goalFadeUp {
    0% {
        top: $navH + 6px;
    }

    100% {
        top: 0;
    }
}

.dnb_item_container.dnb_item_edit .dnb_editview.dnGoalFadeDwn,
.dnb_main_container .dnGoalFadeDwn {
    top: $navH + 6px;
    animation-name: goalFadeDown;
    animation-duration: 0.6s;
}

.dnGoalHideUp {
    animation-name: goalFadeUp;
    animation-duration: 0.36s;
}

.dnb-filter_container {
    margin-left: 3 * $m3px;
    margin-right: 6 * $m3px;
}

.dnb-settings_container {
    display: grid;
    grid-template-columns: 45px 138px;
    align-items: center;
}

$priColor: #2086f9;

.dnb-settings_container {
    margin-right: 6 * $m3px;

    .dnb-lbl-unit {
        margin-right: $round;
    }
}

// Toggle button (Switch)
.dnb-switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 24px;
}

.dnb-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dnb-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 6px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &.dn-round {
        border-radius: 45px;

        &::before {
            border-radius: 50%;
        }
    }

    // input:checked+.dnb-slider
    input:checked+& {
        background-color: $priColor;

        //input:checked+.dnb-slider:before
        &::before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    // input:focus+.dnb-slider
    input:focus+& {
        box-shadow: 0 0 0 transparent;
    }
}

// End Toggle button (Switch)
.dnb-toggle-dnd {
    display: grid;
    grid-template-columns: 105px 63px;
    align-items: center;
}

$drpdwnH: 30px;

.dr-select {
    &__control {
        height: $drpdwnH;
        min-height: $drpdwnH !important;

    }

    &__value-container {
        height: $drpdwnH;
        padding-top: 0 !important;
    }

    &__indicators {
        height: $drpdwnH;
    }
}

.dform-search {
    display: flex;
    align-items: center;
    margin-right: 6 * $m3px;

    .d-btn_search {
        width: 15px;
        height: 15px;
        margin-left: -21px;
        padding: 0;
        border: 0;
    }

    .din_search {
        height: $drpdwnH;
        border-radius: 6px;
        color: #666;
        outline: 0;
        border: 0;
        padding: 5px 7px;
        background: #ededed;
        width: 222px;
    }
}