<!DOCTYPE html>
<html>
<head>
    <title>Exercise 5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/5.3.2_dist_css_bootstrap.min.css" />
    <link rel="stylesheet" href="style/bowtie.css" />
    <link rel="stylesheet" href="style/app_style.css" />

    <script src="script/repository/common.js"></script>
    <script src="script/repository/mock-data.js"></script>
    <script src="../3rd/jquery/jquery-3.7.1.min.js"></script>
    <script src="../3rd/bootstrap5/5.3.2_dist_js_bootstrap.bundle.min.js"></script>
    <script src="../3rd/vuejs/dev_vue@2_7_14.js"></script>
    <!-- <script src="../3rd/vuejs/prod_vue@2_7_14.js"></script> -->
    <script src="../3rd/vuejs/vue-observe-visibility.min.js"></script>
    <script src="../3rd/dnd/1.8.4_Sortable.min.js"></script>
    <script src="../3rd/dnd/2.20.0_vuedraggable.umd.min.js"></script>
</head>
<body>
    <main id="cv-app">
        <nav-bar inline-template :view-index="NavBar.Index">
            <header class="p-1 border-bottom">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/"
                            class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                            <i class="bowtie-dashboard" style="font-size: 24px; color: rgb(13, 110, 253);"></i>
                        </a>
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li v-for="(mName, i) in NavMenus" @click="(e) => {setNavIndex(i)}">
                                <a href="#" class="nav-link px-2"
                                    :class="[i == viewIndex ? 'active' : 'link-body-emphasis']">{{mName}}</a>
                            </li>
                        </ul>
                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" name="dnbfctrl" role="search" action="#">
                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search"
                                v-model="TextSearch" v-on:keyup.enter="onSearch" v-on:change="onChangeSearch">
                        </form>

                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                    class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small border-0 shadow-lg pt-0 pb-0">
                                <li v-for="(menu, i) in UserMenus" @click="(e) => openPopInfoUser(menu)">
                                    <a class="dropdown-item pt-2 pb-2" v-bind:href="menu.url" data-bs-toggle="modal"
                                        data-bs-target="#modal-pop">{{menu.title}}</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider m-0">
                                </li>
                                <li><a class="dropdown-item pt-2 pb-2" data-bs-toggle="modal"
                                        data-bs-target="#modal-pop" href="#" @click="openPopSignOut">Sign out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </nav-bar>

        <vw-inventory inline-template v-if="NavBar.Index == 1" :mains="ListMains">
            <section id="view-inventory" class="container-fluid" v-bind:style="[ { width: WidthCtx } ]">
                <div class="list-main">
                    <item-mgoal v-for="main in ListMain" :item="main" :type="1" :key="main.Guid">
                        <div class="list-sub">
                            <item-subgoal v-for="sub in main.Subs" :key="sub.Guid" :item="sub" :mid="main.Id" :type="2">
                                <div class="list-action">
                                    <item-action inline-template v-for="(act, ia) in sub.Actions" :key="act.Guid"
                                        :index="ia" :actions="sub.Actions" :item="act" :sid="sub.Id" :mid="main.Id">
                                        <div :id="domId" class="item-wrap"
                                            v-bind:style="[ styleWidth(), styleInline(), styleMrgLeft() ]"
                                            v-observe-visibility="{
                                                callback: onObsVisible, throttle: 0, intersection: { threshold: 0 },
                                            }">
                                            <h6 v-if=IsInView class="fs-6" v-show="!IsEditName"
                                                @dblclick.stop="ondblclickName">{{item.Name}}</h6>
                                            <input v-if="IsEditName" v-model="Name" type="text"
                                                class="form-control ieName" aria-describedby="inputGroup-sizing-sm"
                                                @keyup.esc="onCancelSetName" @keyup.enter="onSaveName" />
                                            <div v-if="IsInView && FormatRange" class="fw-lighter">
                                                <i class="bowtie-calendar"></i>
                                                <span class="small">{{FormatRange}}</span>
                                            </div>
                                        </div>
                                    </item-action>
                                </div>
                            </item-subgoal>
                        </div>
                    </item-mgoal>
                </div>
            </section>
        </vw-inventory>
        <vw-overview inline-template v-if="NavBar.Index == 0" :mgactions="ListMapGoalAction">
            <section class="dnb-overview dnbOverview" @scroll.passive="onScroll">
                <div class="dnb-content d-grid">
                    <div class="list-left d-inline-block border-end pt-2">
                        <div class="d-inline-grid align-items-center pb-2"
                            style="grid-template-columns: 286px 45px 45px 45px;">
                            <button type="button" class="btn btn-primary ms-3 me-3" disabled>
                                <i class="bowtie-math-plus-circle"></i> New goal
                            </button>
                            <span class="text-center text-secondary border-start">Start</span>
                            <span class="text-center text-secondary">Last</span>
                            <span class="text-center text-secondary">End</span>
                        </div>
                        <draggable :list="mgactions" v-bind="DndGoalOptions">
                            <sub-view inline-template v-for="sub in mgactions" :item="sub" 
                                :key="'sub-view-' + sub.GoalId">
                                <div v-if="GoalData" class="view-sub" v-bind:style="{opacity: OpcInSearch}">
                                    <div class="d-inline-grid align-items-center">
                                        <i v-bind:class="[IsExpand ? 'bowtie-triangle-down' : 'bowtie-triangle-right']"
                                            @click.stop="onToggleExpand" style="font-size: 18px;"></i>
                                        <h5 style="text-overflow: ellipsis; overflow: hidden; white-space: pre;cursor: pointer;"
                                            @click.stop="onToggleExpand">{{GoalData.Name}}</h5>
                                        <svg v-if="NeedSync" @click.stop="syncToCloud" class="bi bi-cloud"
                                            viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor">
                                            <title>click to lock</title>
                                            <path
                                                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                        </svg>
                                        <svg v-else class="bi bi-cloud-check" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor">
                                            <title>locked</title>
                                            <path fill-rule="evenodd"
                                                d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                            <path
                                                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                        </svg>
                                    </div>
                                    <draggable v-if="IsExpand" class="list-action d-flex flex-column" v-bind="DragOptions"
                                        v-model="item.ActionIds" @end="onDndEnd" :move="checkMove">
                                        <action-view inline-template v-for="actId in item.ActionIds" :subid="item.GoalId"
                                            :goalsync="NeedSync"
                                            :itemid="actId" :key="'action-info-' + actId">
                                            <div v-if="item" class="d-inline-grid align-items-center"
                                            v-bind:class="[Status == 'Done' ? 'action-done' : '']">
                                                <input v-if="IsDoneDisable" class="form-check-input mt-0" type="checkbox"
                                                    checked disabled />
                                                <input v-else-if="aIsDone(itemid)" class="form-check-input mt-0"
                                                    type="checkbox" checked @click.stop="() => checkToggleDone(false)" />
                                                <input v-else class="form-check-input mt-0" type="checkbox"
                                                    @click.stop="() => checkToggleDone(true)" />
                                                <p v-if="item" class="a-name mb-0 ms-2" @click.stop="onClickScrollTo">{{item.Name}}</p>
                                                <span class="text-center font14" :data-title="YearStart || null"
                                                    @click.stop="onClickScrollToStart">{{Start}}</span>
                                                <span class="text-center font14"
                                                    :class="[ End == '-' ? 'text-black-50' : '' ]">{{End}}</span>
                                                <span class="text-center font14" :data-title="YearEnd || null"
                                                    @click.stop="onClickScrollToEnd"
                                                    :class="[ End == '-' ? 'text-black-50' : '' ]">{{End}}</span>
                                                <span
                                                    class="font12 text-center text-uppercase fw-bold text-white rounded-1"
                                                    :class="[ClssStatus]">{{Status}}</span>
                                            </div>
                                        </action-view>
                                    </draggable>
                                </div>
                            </sub-view>
                        </draggable>
                    </div>
                    <div class="view-right">
                        <table class="vwCalendar" style="height: 52px;">
                            <thead>
                                <tr>
                                    <th v-for="month in ListMonth" :colspan="month.colspan" class="text-center font14"
                                        :class="[
                                            month.IsNow ? 'text-primary' : ''
                                        ]">{{month.MM}}{{month.colspan > 2 ? '/' + month.YYYY : ''}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td v-for="dd in ListDay">
                                        <span class="d-inline-block font14" :class="[
                                                dd.IsNow ? 'text-primary' : ''
                                            ]">{{dd.day}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="group-sub" v-for="sub in mgactions">
                            <draggable v-bind="DragActionOptions" :list="sub.ActionIds" class="dnd-wrap_">
                                <action-time inline-template v-if="isExpand(sub.GoalId)" v-for="actId in sub.ActionIds" 
                                    :itemid="actId" :key="'action-timeline-' + actId">
                                    <div v-if="item" class="dnb-act-time d-inline-block">
                                        <span class="d-inline-block" :atime-id="itemid" :class="[ClssStatus]" 
                                            :style="[{ width: Width, marginLeft: Left }, Border]" ></span>
                                    </div>
                                </action-time>
                            </draggable>
                        </div>
                    </div>
                </div>
            </section>
        </vw-overview>
        <vw-customer inline-template v-if="NavBar.Index == 2" :mgactions="ListMapGoalAction">
            <section id="view-customer" style="padding: 12px;">
                <draggable :list="mgactions" v-bind="getDndOptions(1)">
                    <vcustom-goal inline-template v-for="gMap in mgactions" :itemid="gMap.GoalId" 
                        :key="'view-custom-g-' + gMap.GoalId">
                        <div class="list-main-goal d-grid">
                            <vitem-wrap :class="['main-wrap']" :itemid="itemid" :itype="1">
                                <div>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modal-pop" @click.stop="e => onEditGa(itemid, 1)">Edit</button>
                                    <button type="button" class="btn btn-danger"
                                        @click.stop="e => onDeleteGa(itemid, 1)">Delete</button>
                                </div>
                            </vitem-wrap>
                            <div class="goal-viewsub">
                                <div>View Tasks</div>
                                <div class="dnd-subs">
                                    <div class="list-sub-goal d-grid">
                                        <div class="sub-viewaction">
                                            <h6>List Task</h6>
                                            <draggable :list="ListActionId" class="vlist-action d-flex flex-wrap"
                                                v-bind="getDndOptions(3)">
                                                <vitem-wrap v-for="aId in ListActionId"
                                                    :key="'view-item-wrap-action-' + aId"
                                                    :class="['action-wrap']" :itemid="aId" :itype="3">
                                                    <div>
                                                        <button type="button" class="btn btn-primary" 
                                                            data-bs-toggle="modal" data-bs-target="#modal-pop" 
                                                            @click.stop="e => onEditGa(aId, 3)">Edit</button>
                                                        <button type="button" class="btn btn-danger"
                                                        @click.stop="e => onDeleteGa(aId, 3)">Delete</button>
                                                    </div>
                                                </vitem-wrap>
                                            </draggable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </vcustom-goal>
                </draggable>
            </section>
        </vw-customer>

        <!-- Scrollable modal -->
        <modal-pop inline-template v-show="ListModal.length">
            <div class="modal fade" id="modal-pop" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
                aria-labelledby="modal-pop-tlt" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-pop-tlt">{{lblHead}}</h5>
                            <button type="button" class="btn-close" @click="closePop" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form v-if="data.Type == 'UserInfo'">
                                <div class="mb-3">
                                    <label class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" v-model="data.title">
                                </div>
                                <div class="mb-3">
                                    <label class="col-form-label">Link:</label>
                                    <textarea class="form-control" v-model="data.url"></textarea>
                                </div>
                            </form>
                            <form v-if="data.Type == 'SignOut'">
                                <div class="form-outline mb-4 mt-2">
                                    <input type="email" class="form-control" v-model="data.email"
                                        placeholder="Email address" />
                                    <label class="form-label">Email address</label>
                                </div>
                                <div class="form-outline mb-4 mt-2">
                                    <input type="password" class="form-control" placeholder="Password" />
                                    <label class="form-label">Password</label>
                                </div>
                                <div class="row mb-4">
                                    <div class="col d-flex justify-content-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="modal-pop-remem" checked />
                                            <label class="form-check-label" for="modal-pop-remem"> Remember me </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <a href="#!">Forgot password?</a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p>Not a member? <a href="#!">Register</a></p>
                                    <p>or sign up with:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <span class="fab fa-facebook-f">face</span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <span class="fab fa-google">goog</span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <span class="fab fa-twitter">twitt</span>
                                    </button>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <span class="fab fa-github">git</span>
                                    </button>
                                </div>
                            </form>
                            <form v-if="data.Type == 'EditGoal' || data.Type == 'EditAction'">
                                <div class="mb-3">
                                    <label class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" v-model="entry.Name">
                                </div>
                                <div class="mb-3 d-grid" style="grid-template-columns: 50% 50%;">
                                    <div>
                                        <input type="date" name="goal-start" v-model="entry.StartStr" 
                                            @change="e => onChangeInput('start', e)"
                                            :min="entry.StartMin" :max="entry.EndStr" />
                                    </div>
                                    <div>
                                        <input type="date" name="goal-end" v-model="entry.EndStr" 
                                        @change="e => onChangeInput('end', e)"
                                        :min="entry.StartStr" :max="entry.EndMax" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                @click="saveAndClose">{{lblSaveAndClose}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </modal-pop>
    </main>

    <script type="text/x-template" id="vitem-wrap-temp">
        <div v-if="item" class="item-wrap ms-2" :expand="IsExpand">
            <h6 class="item-name">{{item.Name}}</h6>
            <div v-if="FormatRange" class="item-start-end font14">
                <i class="bowtie-calendar me-1 font11"></i>
                <span>{{FormatRange}}</span>
            </div>
            <div>
                <span class="d-inline-block fs-5 fw-bold" style="cursor:pointer;"
                @click.stop="onToggleExpand">{{IsExpand ? '--' : '+'}}</span>
                <slot v-if="IsExpand"></slot>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="goal-item-temp">
        <div :id="domId" class="goal-item-wrap"
            v-observe-visibility="{
                callback: onObsVisible,
                throttle: 0, intersection: { threshold: 0 },
            }">
            <h4 v-if="IsInView && type == 1" v-show="!IsEditName"
                @dblclick.stop="ondblclickName">{{item.Name}}</h4>
            <h5 v-if="IsInView && type == 2" v-show="!IsEditName"
                @dblclick.stop="ondblclickName">{{item.Name}}</h5>
            <input v-if="IsEditName" v-model="Name" 
                type="text" class="form-control ieName" 
                aria-describedby="inputGroup-sizing-sm" 
                @keyup.esc="onCancelSetName"
                @keyup.enter="onSaveName"/>
            <div v-if="FormatRange">
                <span class="small">{{FormatRange}}</span>
            </div>
            <slot v-if="IsInView"></slot>
        </div>
    </script>

    <script>
        HTMLElement.prototype.offset = function () {
            const el = this
            const rect = el.getBoundingClientRect(),
                scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
                scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            return { top: rect.top + scrollTop, left: rect.left + scrollLeft }
        }
    </script>

    <script src="script/components.js"></script>
    <script src="script/voverview.js"></script>
    <script src="script/vcustomer.js"></script>
    <script src="script/vw-component.js"></script>
    <script src="script/cv-app.js"></script>
</body>
</html>