<!DOCTYPE html>
<html>

<head>
    <title>Exercise TFS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/5.3.2_dist_css_bootstrap.min.css" />
    <link rel="stylesheet" href="style/bowtie.css" />
    <link rel="stylesheet" href="style/app_style.css" />

    <script src="script/3rd/boots/jquery-3.7.1.min.js"></script>
    <script src="script/3rd/boots/5.3.2_dist_js_bootstrap.bundle.min.js"></script>
    <script src="script/3rd/vuejs/dev_vue@2_7_14.js"></script>
    <script src="script/3rd/vuejs/vuex.global.js"></script>
    <script src="script/3rd/vuejs/vue-observe-visibility.min.js"></script>
    <script src="script/3rd/vuejs/dnd/1.8.4_Sortable.min.js"></script>
    <script src="script/3rd/vuejs/dnd/2.20.0_vuedraggable.umd.min.js"></script>
</head>

<body>
    <main id="tfs-app">
        <b-filter inline-template v-if="IsShowFilter">
            <section>
                <input type="text" :placeholder="PlaceholderKeyWord" v-model="Keyword" />
                <span @click.stop="e => filterByMenu(e, 2)" 
                    class="d-inline-block"
                    style="width:204px">{{LblAssigned}}</span>
            </section>
        </b-filter>
        <section class="dnb-col-head d-flex">
            <span>Collapse all</span>
            <span>To Do</span>
            <span>New</span>
            <span>Appvored</span>
            <span>In Progess</span>
            <span>Commited</span>
            <span>Done</span>
        </section>
        <b-backlog inline-template v-for="(backlog, b) in Backlogs" :item="backlog" :key="'logitem-' + b">
            <section class="dnb-colbody d-flex">
                <b-item :item="item" :rwork="Time"></b-item>
                <b-state-todo :items="Todo"></b-state-todo>
                <b-state-new :items="New"></b-state-new>
                <b-state-approve :items="Approved"></b-state-approve>
                <b-state-inprogress :items="InProgess"></b-state-inprogress>
                <b-state-commit :items="Commited"></b-state-commit>
                <b-state-done :items="Done"></b-state-done>
            </section>
        </b-backlog>
        <div v-if="EditItem != null && (EditItem.Type == 3)" class="d-inline-block position-fixed dnb-lst-user"
            :style="{top: EditItem.top, left: EditItem.left}">
            <div v-for="user in EditItem.Users" @click="e => EditItem.onSelect(user.Name)">{{user.Name}}</div>
        </div>
        <div v-if="MenuSelect != null"
            class="d-inline-block position-fixed dnb-lst-user"
            :style="{top: MenuSelect.top, left: MenuSelect.left}"
            style="z-index: 1;">
            <div v-if="MenuSelect.Type == 2"
                @click.stop="e => MenuSelect.onSelect('Unassigned')">
                <input class="form-check-input" value="Unassigned" v-model="AssignedTo"
                    type="checkbox"><span class="ms-1">Unassigned</span>
            </div>
            <div v-for="item in MenuSelect.Items" 
                @click.stop="e => MenuSelect.onSelect(item.Name)">
                <input class="form-check-input" :value="item.Name" v-model="AssignedTo"
                    type="checkbox"><span class="ms-1">{{item.Name}}</span>
            </div>
        </div>
    </main>
    <script type="text/x-template" id="temp-task-done">
        <div class="card m-1 dh-fitcontent" v-if="isShow || IsShow">
            <div class="card-body">
              <b class="card-title">{{item.Name}}</b>
              <small class="card-subtitle text-muted d-block">{{item.User}}</small>
              <small  class="card-text d-block">{{item.Description}}</small>
              <slot></slot>
              <a href="#" class="card-link"><small>Task link</small></a>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="temp-item-edit">
        <div class="card m-1 dh-fitcontent" v-if="isShow || IsShow">
            <div class="card-body">
              <b class="card-title"
                @keydown="e => onStartChange(e, 1)"
                @keyup="e => onEndChange(e, 1)"
                @click.stop="e => onStartEdit(e, 1)">{{item.Name}}</b>
              <small class="card-subtitle text-muted d-block"
              @click.stop="e => onChangeUser(e, 3)"
              >{{item.User}}</small>
              <small  class="card-text d-block">{{item.Description}}</small>
              <slot></slot>
              <a href="#" class="card-link"><small>Task link</small></a>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="temp-item">
        <bi-editable :item="item" :is-show="IsShow" v-show="IsShow">
            <small class="card-text d-block">Remaining work: {{rwork}}</small>
        </bi-editable>
    </script>
    <script type="text/x-template" id="temp-task">
        <bi-editable :item="item" v-if="IsShow">
            <small class="card-text d-block">Remaining work: 
                <span @keydown="e => onStartChange(e, 2)"
                    @keyup="e => onEndChange(e, 2)"
                    @click.stop="e => onStartEdit(e, 2)">{{item.RemainingWork}}</span>
            </small>
        </bi-editable>
    </script>
    <script type="text/x-template" id="temp-state">
        <div class="dcol-state" v-bind:class=[ClassWrap]>
            <draggable v-if="State == 6" 
                :list="Items" :group="'task-in-item'" 
                v-bind="DnDOptions"
                class="w-100 h-100">
                <b-task-done
                    v-for="task in Items" 
                    :key="'task_' + task.Id"
                    :item="task"></b-task-done>
            </draggable>
            <draggable v-else :list="Items" :group="'task-in-item'" 
                v-bind="DnDOptions"
                class="w-100 h-100">
                <b-task 
                    v-for="task in Items" 
                    :key="'task_' + task.Id"
                    :item="task"></b-task>
            </draggable>
            <button v-if="State == 1" @click.stop="onClkNewTask"
                type="button" class="btn btn-primary">+ Task</button>
        </div>
    </script>
    <script>
        HTMLElement.prototype.offset = function () {
            const el = this
            const rect = el.getBoundingClientRect(),
                scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
                scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            return { top: rect.top + scrollTop, left: rect.left + scrollLeft }
        }
    </script>
    <script src="script/repository/common.js"></script>
    <script src="script/repository/mock-data.js"></script>
    <script src="script/data-store.js"></script>
    <script src="script/component-temp.js"></script>
    <script src="script/components.js"></script>
    <script src="script/cv-app.js"></script>
</body>

</html>