$width: 300px;
$round: 9px;
$m3px: 3px;
$bgcolor: white;

.dnb_item_view {
  display: flex;
  margin-bottom: $m3px;

  .dnb_add_action {
    display: inline-flex;
    align-items: center;
    margin-left: $m3px;
    min-height: 90px;

    >div {
      height: 81px;
      background-color: $bgcolor;
      border-radius: $round;
      padding: 27px 9px;
    }
  }
}

.dnb_item_view:last-child {
  margin-bottom: 0;
}

.dnb_item_list_sub {
  display: grid;
  min-width: $width;
}

.dnb_item_list_action {
  width: calc(100vw - $width - $width - 96px);
  display: flex;
  flex-wrap: wrap;
}

.dnb_item_container {
  display: inline-block;
  width: $width;
  min-width: $width;
  background-color: $bgcolor;
  padding: 6px 6px $m3px 6px;
  margin: $m3px $m3px 0 $m3px;
  box-sizing: border-box;
  border-radius: $round;

  .dnb_edit_name {
    width: calc(100% - 21px);
  }

  .dnb_item_description {
    font-size: 12px;
  }

  .dnb_edit_des {
    width: 100%;
    resize: none;
    min-height: 81px;
    margin-left: 0px;
    margin-top: 2 * $m3px;
  }

  .dnb_item_cost {
    display: grid;
    grid-template-columns: 50% 50%;

    .dnb_icost {
      font-weight: 600;

      .dnb_icost_value {
        font-weight: 400;
        margin-left: 9px;
      }
    }
  }

  .dnb_item_date {
    padding-top: 3px;
    display: flex;
    align-items: baseline;
    margin-top: 3px;

    .dnb_d_div {
      padding: 0 3px;
    }
  }

  &.dnb_item_done+.dnb_item_list_sub,
  &.dnb_item_done+.dnb_item_list_action {
    opacity: 0.51;

    .dnb_i_menu {
      pointer-events: none;
    }
  }
}

.dnb_item_container.dnb_item_edit {
  .dnb_edit_start {
    width: $width - 173px;
  }

  .dnb_edit_end {
    width: $width - 174px;
  }
}

.dnb_item_done {
  opacity: 0.69;
}

.dnb_item_list_action {
  .dnb_item_container {
    border-right-color: #0fa8bf;
  }

  .dnb_item_container:last-child {
    height: -webkit-fill-available;
  }
}

.dnb_i_menu {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 9px;

  >* {
    margin: 3px 0;
  }
}

.dnb_i_options {
  padding-top: 6px;
  margin: 9px 0 6px 0;
  border-top: 1px solid #eeeeeecf;
}

.bi-layout-sidebar::before {
  transform: rotate(-90deg);
}

.dnb_ocost_negative,
.dnb_past_date {
  color: red;
}

.o_50 {
  opacity: 0.5;
}

.o_81 {
  opacity: 0.81;
}

.dnb_add_main {
  display: inline-block;
  background-color: $bgcolor;
  width: $width;
  margin-left: $m3px;
  margin-top: $m3px;
  padding: 12px 2 * $m3px;
  border-radius: $round;
}